{% extends 'workflow/email_base.html.twig' %}
{% block body %}
    <row>
        <columns>
            <h1>Connect Weekly Digest</h1>
            <p>The following entries and exits have occurred this week:</p>
        </columns>
    </row>
    <row>
        <columns>
            <h2>Entries</h2>

            <table class="digest-table">
                <tr>
                    <th>Name</th>
                    <th>NetID</th>
                    <th>UIN</th>
                    <th>Start Date</th>
                    <th>Themes</th>
                </tr>
                {% for entry in entries %}
                    <tr>
                        <td><a href="{{ url('person_view', {'slug':entry.person.slug}) }}">{{ entry.person }}</a></td>
                        <td>{{ entry.person.netid }}</td>
                        <td>{{ entry.person.uin }}</td>
                        <td>{{ entry.date|date('n/j/Y') }}</td>
                        <td>{{ entry.notes }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No entries</td>
                    </tr>
                {% endfor %}
            </table>
        </columns>
    </row>
    <row>
        <columns>
            <h2>Exits</h2>
            <table class="digest-table">
                <tr>
                    <th>Name</th>
                    <th>NetID</th>
                    <th>UIN</th>
                    <th>End Date</th>
                    <th>Themes</th>
                    <th>Exit Reason</th>
                </tr>
                {% for exit in exits %}
                    <tr>
                        <td><a href="{{ url('person_view', {'slug':exit.person.slug}) }}">{{ exit.person }}</a></td>
                        <td>{{ exit.person.netid }}</td>
                        <td>{{ exit.person.uin }}</td>
                        <td>{{ exit.date|date('n/j/Y') }}</td>
                        <td>{{ exit.notes }}</td>
                        <td>
                            {% if exit.person.exitForm is not null %}
                                {{ exit.person.exitForm.exitReason }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No exits</td>
                    </tr>
                {% endfor %}
            </table>
        </columns>
    </row>

{% endblock %}