{% extends 'base.html.twig' %}

{% block content %}
    <div class="callout callout-info">
        Please enter the date upon which the IGB member's affiliation with this supervisor ended (or will end)
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Supervisor Affiliation</div>
                <table class="table">
                    <tr>
                        <th>Supervisor</th>
                        <td>{{ supervisorAffiliation.supervisor }}</td>
                    </tr>
                    <tr>
                        <th>Supervisee</th>
                        <td>{{ supervisorAffiliation.supervisee }}</td>
                    </tr>
                    <tr>
                        <th>Start Date</th>
                        <td>{{ supervisorAffiliation.startedAt|date('n/j/Y') }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | End Supervisor Affiliation
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('person_currentmembers') }}">IGB Members</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ path('person_view', {'slug': person.slug}) }}">{{ person.name }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        End Supervisor Affiliation
    </li>
{% endblock %}