{% extends 'base.html.twig' %}
{% use 'form.html.twig' %}

{% block content %}
    <h2>Add Room Assignment</h2>
    <div class="callout callout-info">
        <ul>
            <li>Please indicate the new room for {{ person.name }}, and their start date.</li>
            <li>If no end date is known, leave blank.</li>
        </ul>
    </div>
    {% form_theme form "form_themes/_inline-buttons-theme.html.twig" %}
    {{ block('form_card') }}
{% endblock %}
{% block form_card_body %}
    <div class="row">
        <div class="col-lg">{{ form_row(form.room) }}</div>
    </div>
    <div class="row">
        <div class="col-lg">{{ form_row(form.startedAt) }}</div>
        <div class="col-lg">{{ form_row(form.endedAt) }}</div>
    </div>
{% endblock %}
{% block form_card_footer %}
    {{ form_row(form.save) }}
{% endblock %}


{% block title %}
    {{ parent() }} | Add Room
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('person_currentmembers') }}">IGB Members</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ path('person_view', {'slug': person.slug}) }}">{{ person.name }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Add Room
    </li>
{% endblock %}

