{% extends 'base.html.twig' %}
{% use 'form.html.twig' %}

{% block content %}
    <h2>Add Theme Affiliation</h2>
    <div class="callout callout-info">
        <ul>
            <li>Please indicate the theme with which {{ person.name }} is affiliated, their role
                within that theme, and the date that role begins.
            </li>
            <li>If no end date is known, leave blank.</li>
            <li>If any previous theme affiliations should end when this one begins, select them below.</li>
        </ul>
    </div>
    {% form_theme form "form_themes/_inline-buttons-theme.html.twig" %}
    {{ block('form_card') }}
{% endblock %}
{% block form_card_body %}
    <div class="row">
        <div class="col-lg">{{ form_row(form.theme) }}</div>
        <div class="col-lg">{{ form_row(form.memberCategory) }}</div>
    </div>
    <div class="row">
        <div class="col-lg">{{ form_row(form.title) }}</div>
        <div class="col-lg">{{ form_row(form.themeRoles) }}</div>
    </div>
    <div class="row">
        <div class="col-lg">{{ form_row(form.facultySponsors) }}</div>
        <div class="col-lg">{{ form_row(form.supervisors) }}</div>
    </div>
    {% if form.positionWhenJoined is defined %}
        <div class="row">
            <div class="col">
                {{ form_row(form.positionWhenJoined) }}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col">{{ form_row(form.startedAt) }}</div>
        <div class="col">{{ form_row(form.endedAt) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(form.endPreviousAffiliations) }}</div>
    </div>
{% endblock %}
{% block form_card_footer %}
    {{ form_row(form.add) }}
{% endblock %}

{% block title %}
    {{ parent() }} | Add Theme Affiliation
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('person_currentmembers') }}">IGB Members</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ path('person_view', {'slug': person.slug}) }}">{{ person.name }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Add Theme Affiliation
    </li>
{% endblock %}

