{% extends 'base.html.twig' %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block title %}
    {{ parent() }} | {% if app.request.get('_route') == 'person_edit_note' %}Edit Note{% else %}Add Note{% endif %}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('person') }}">IGB Members</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ path('person_view', {'slug': person.slug}) }}">{{ person.name }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% if app.request.get('_route') == 'person_edit_note' %}Edit Note{% else %}Add Note{% endif %}
    </li>
{% endblock %}

