{% extends 'base.html.twig' %}
{% use 'form.html.twig' %}

{% block content %}
    <h2>Add Faculty Sponsor</h2>
    <div class="callout callout-info">
        <ul>
            <li>Please indicate the new faculty sponsor for {{ person.name }}, and their start date.</li>
            <li>If no end date is known, leave blank. </li>
            <li>If any previous relationships should end when this one begins, select them below.</li>
        </ul>
    </div>
    {% form_theme form "form_themes/_inline-buttons-theme.html.twig" %}
    {{ block('form_card') }}
{% endblock %}
{% block form_card_body %}
    <div class="row">
        <div class="col-lg">{{ form_row(form.sponsor) }}</div>
    </div>
    <div class="row">
        <div class="col-lg">{{ form_row(form.startedAt) }}</div>
        <div class="col-lg">{{ form_row(form.endedAt) }}</div>
    </div>
    {% if form.endPreviousAffiliations is defined %}
        <div class="row">
            <div class="col-lg">{{ form_row(form.endPreviousAffiliations) }}</div>
        </div>
    {% endif %}
{% endblock %}
{% block form_card_footer %}
    {{ form_row(form.save) }}
{% endblock %}


{% block title %}
    {{ parent() }} | Add Faculty Sponsor
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('person_currentmembers') }}">IGB Members</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ path('person_view', {'slug': person.slug}) }}">{{ person.name }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Add Faculty Sponsor
    </li>
{% endblock %}

