{% extends 'base.html.twig' %}
{% use 'form.html.twig' %}
{% import "person/_theme.html.twig" as theme %}

{% block content %}
    <h2>End Faculty Sponsor Affiliation</h2>
    <div class="callout callout-info">
        Please enter the date upon which the IGB member's affiliation with this faculty sponsor ended (or will end)
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Faculty Sponsor Affiliation</div>
                <table class="table">
                    <tr>
                        <th>Theme</th>
                        <td>{{ theme.info(sponsorAffiliation.sponseeThemeAffiliation, false) }}</td>
                    </tr>
                    <tr>
                        <th>Faculty Sponsor</th>
                        <td>{{ sponsorAffiliation.sponsor }}</td>
                    </tr>
                    <tr>
                        <th>Sponsee</th>
                        <td>{{ sponsorAffiliation.sponsee }}</td>
                    </tr>
                    <tr>
                        <th>Start Date</th>
                        <td>{{ sponsorAffiliation.startedAt|date('n/j/Y') }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col">
            {% form_theme form "form_themes/_inline-buttons-theme.html.twig" %}
            {{ block('form_card') }}
        </div>
    </div>
{% endblock %}
{% block form_card_body %}
    {{ form_row(form.endedAt) }}
{% endblock %}
{% block form_card_footer %}
    {{ form_row(form.save) }}
{% endblock %}

{% block title %}
    {{ parent() }} | End Faculty Sponsor Affiliation
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('person_currentmembers') }}">IGB Members</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ path('person_view', {'slug': person.slug}) }}">{{ person.name }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        End Faculty Sponsor Affiliation
    </li>
{% endblock %}