{% extends 'base.html.twig' %}

{% block content %}
    <h1>IGB Membership Approvals</h1>
    <div class="card">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Theme</th>
                <th>Approval</th>
                <th>Submitted Date</th>
                <th>Approvers</th>
            </tr>
            {% for person in approvals %}
                <tr>
                    <td><a href="{{ path('person_view', {'slug': person.slug}) }}">{{ person }}</a></td>
                    <td>
                        {% for themeAffiliation in person.themeAffiliations|currentAndFuture %}
                            <div class="{{ html_classes('theme-row', {'text-muted': not themeAffiliation.isCurrent}) }}">

                                <a href="{{ path('theme_view', {'shortName': themeAffiliation.theme.shortName}) }}">{{ themeAffiliation.theme.shortName }}</a>

                                {{ themeAffiliation.memberCategory.shortName??themeAffiliation.memberCategory.name }}

                                {% if themeAffiliation.title %}
                                    ({{ themeAffiliation.title }})
                                {% endif %}
                                {% for role in themeAffiliation.themeRoles %}
                                    ({{ role.displayName }})
                                {% endfor %}

                            </div>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path(workflow_metadata(person, 'approval_route', person.membershipStatus), {'slug': person.slug}) }}">{{ ('membership.'~person.membershipStatus~'.approval_title')|trans }}</a>
                    </td>
                    <td>{{ person.membershipUpdatedAt|date('n/j/Y') }}</td>
                    <td>
                        {% for approver in workflow_approvers(person) %}
                            <a href="{{ path('person_view', {'slug': approver.slug}) }}">{{ approver }}</a>
                            {%- if not loop.last -%}, {% endif %}
                        {% else %}
                            <span class="fas fa-exclamation-triangle text-warning"></span> None
                        {% endfor %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center py-3">No forms waiting for approval</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block title %}{{ parent() }} | Approvals{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">
        Approvals
    </li>
{% endblock %}

