{% extends 'base.html.twig' %}

{% block content %}
    <h1>IGB Membership Approvals</h1>
    <div class="card">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Approval</th>
                <th>Submitted Date</th>
            </tr>
            {% for person in approvals %}
                <tr>
                    <td>{{ person }}</td>
                    <td>
                        <a href="{{ path(workflow_metadata(person, 'approval_route', person.membershipStatus), {'slug': person.slug}) }}">{{ ('membership.'~person.membershipStatus~'.approval_title')|trans }}</a>
                    </td>
                    <td>{{ person.membershipUpdatedAt|date('n/j/Y') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block title %}{{ parent() }} | Approvals{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">
        Approvals
    </li>
{% endblock %}

