{% if ea.crud.currentAction == 'index' %}
    {% set max = 5 %}
    {% for associated_entity in field.value|slice(0,max) %}
        {%- block link -%}
            {% set crudFqcn = field.customOption('linkCrudFqcn')??field.customOption('crudControllerFqcn') %}
            {% set entityId = field.customOption('linkField')?attribute(associated_entity,field.customOption('linkField')).id:associated_entity.id %}
            <a href="{{ ea_url({'crudAction':'detail', 'crudControllerFqcn':crudFqcn, 'entityId':entityId}) }}">
                {{ field.customOption('labelField')?attribute(associated_entity,field.customOption('labelField')):associated_entity }}
            </a>
        {%- endblock -%}
        {%- if not loop.last -%}, {% endif %}
    {%- endfor -%}
    {%- if field.value|length > max -%}...{% endif %}
{% else %}
    {% for associated_entity in field.value %}
        <div class="row">
            <div class="col-8">{{ block('link') }}</div>
            <div class="col-2">{% if associated_entity.startedAt is not null %}{{ associated_entity.startedAt|date('n/j/Y') }}{% endif %}</div>
            <div class="col-2">{% if associated_entity.endedAt is not null %}{{ associated_entity.endedAt|date('n/j/Y') }}{% endif %}</div>
        </div>
    {% endfor %}
{% endif %}
