{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Training Certificates{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ path('membership_approvals', {'slug': person.slug}) }}">Membership Approvals</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {{ person.name }} Training Certificates
    </li>
{% endblock %}

{% block content %}
    <h2 class="mb-3">{{ person }} Training Certificates</h2>
    {% for document in person.documents %}
        {% if document.type == constant('App\\Enum\\DocumentCategory::Certificate') %}
            {% if vich_uploader_asset(document, 'file') is not null %}
                <p><a href="{{ asset(vich_uploader_asset(document, 'file')) }}">{{ document }}</a></p>
            {% else %}
                <p class="text-danger">"{{ document }}" file not found. There may have been a problem with the upload.
                    Please return the form and ask the user to try to upload this one again.</p>
            {% endif %}
        {% endif %}
    {% endfor %}

    <hr/>

    {% if person.membershipNote %}
        <div class="callout callout-border-info">
            <p>These certificates were previously returned to the new IGB member with the following reason:</p>
            <p class="ms-2">{{ person.membershipNote }}</p>
        </div>
    {% endif %}

    <div class="d-flex">
        <div class="p-2" style="flex:1">
            <p>Check the box below to approve these certificates</p>
            {{ form(approvalForm) }}
        </div>
        <div class="flex-grow-0 p-2"><strong>OR</strong></div>
        <div class="p-2" style="flex:1">{{ form(rejectionForm) }}</div>
    </div>
{% endblock %}
