{% extends 'base.html.twig' %}
{% use 'form.html.twig' %}

{% block title %}{{ parent() }} | Entry Form{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">
        IGB Entry Request Form
    </li>
{% endblock %}

{% block content %}
    <h2>IGB Entry Request Form</h2>
    {% form_theme form _self "form_themes/_inline-buttons-theme.html.twig" %}
    {{ block('form_card') }}
{% endblock %}
{% block form_card_body %}
    <div class="row">
        <div class="col-lg">{{ form_row(form.firstName) }}</div>
        <div class="col-lg">{{ form_row(form.lastName) }}</div>
    </div>
    <div class="row" data-controller="username-check netid-autofill" data-username-check-url-value="{{ path('_api_/people{._format}_get_collection') }}">
        <div class="col-lg">{{ form_row(form.netid, {'attr':{'data-action':'netid-autofill#updateFields change->username-check#checkIfUsernameUnique', 'data-username-check-target':'username'}}) }}</div>
        <div class="col-lg">{{ form_row(form.uin) }}</div>
        <div class="col-lg">{{ form_row(form.email, {'attr':{'data-netid-autofill-target':'email'}}) }}</div>
    </div>
    <div class="row">
        <div class="col-lg">{{ form_row(form.roomAffiliations) }}</div>
        <div class="col-lg">{{ form_row(form.officePhone) }}</div>
    </div>
    <div class="row">
        <div class="col-lg">{{ form_row(form.officeWorkOnly) }}</div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg">
            <div class="mb-2">Preferred Campus Address</div>
            <div class="mb-2 form-text">Leave blank if preferred address is IGB</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">{{ form_row(form.officeNumber) }}</div>
        <div class="col-lg">{{ form_row(form.officeBuilding) }}</div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg">{{ form_row(form.unitAffiliations) }}</div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg">{{ form_row(form.supervisorAffiliations) }}</div>
    </div>
    {{ form_row(form.themeAffiliations) }}
{% endblock %}
{% block form_card_footer %}
    {{ form_row(form.submit) }}
{% endblock %}



{% block collection_row %}
    {{ block("form_widget") }}
{% endblock %}

{% block collection_entry_row %}
    {{ block("form_widget") }}
{% endblock %}

{% block unit_affiliation_row %}
    <div data-controller="other-entry">
        {{ form_row(form.unit) }}
        {{ form_row(form.otherUnit) }}
    </div>
{% endblock %}

{% block theme_affiliation_row %}
    <div class="row">
        <div class="col-lg">{{ form_row(form.theme) }}</div>
        <div class="col-lg">{{ form_row(form.memberCategory) }}</div>
    </div>
    <div class="row">
        <div class="col-lg">{{ form_row(form.startedAt) }}</div>
        <div class="col-lg">{{ form_row(form.endedAt) }}</div>
    </div>
{% endblock %}

{% block captcha_widget %}
    <div>
        <img src="{{ captcha_code }}" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" style="margin-bottom: 0.5rem;"/>
        {{ form_widget(form) }}
    </div>
{% endblock %}