{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Entry Form{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">
        IGB Entry Request Form
    </li>
{% endblock %}

{% block content %}
    <h2>IGB Entry Request Form</h2>
    {% form_theme form _self "form_themes/_inline-buttons-theme.html.twig" %}
    {{ form_start(form) }}
    <div class="card mb-3">
        <div class="card-header">Personal Info</div>
        <div class="card-body">
            {# todo add info about how to fill out this part of the form #}
            <div class="row">
                <div class="col-lg">{{ form_row(form.firstName) }}</div>
                <div class="col-lg">{{ form_row(form.lastName) }}</div>
            </div>
            <div class="row" {{ stimulus_controller('username-check', {'url': path('_api_/people{._format}_get_collection')})
            |stimulus_controller('uin-check', {'url':path('_api_/people{._format}_get_collection')})
            |stimulus_controller('netid-autofill') }}>
                <div class="col-lg">{{ form_row(form.netid, {'attr':{'data-action':'netid-autofill#updateFields change->username-check#checkIfUsernameUnique', 'data-username-check-target':'username'}}) }}</div>
                <div class="col-lg">{{ form_row(form.uin, {'attr':{'data-action':'change->uin-check#checkIfUinUnique', 'data-uin-check-target':'uin'}}) }}</div>
                <div class="col-lg">{{ form_row(form.email, {'attr':{'data-netid-autofill-target':'email'}}) }}</div>
            </div>
            <div class="row">
                <div class="col-lg">{{ form_row(form.roomAffiliations) }}</div>
                <div class="col-lg">{{ form_row(form.officePhone) }}</div>
            </div>
            <div class="row">
                <div class="col-lg">{{ form_row(form.officeWorkOnly) }}</div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">UIUC Contact Info</div>
        <div class="card-body">
            {# todo add info about how to fill out this part of the form #}
            <div class="row">
                <div class="col-lg">
                    <div class="mb-2">Preferred Campus Address</div>
                    <div class="mb-2 form-text">Leave blank if preferred address is IGB</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg">{{ form_row(form.officeNumber) }}</div>
                <div class="col-lg">{{ form_row(form.officeBuilding) }}</div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg">
                    {{ form_row(form.unit) }}
                    {{ form_row(form.otherUnit) }}
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">IGB Appointment Info</div>
        <div class="card-body">
            {# todo add info about how to fill out this part of the form #}
            <div class="row">
                <div class="col-lg">{{ form_row(form.supervisorAffiliations) }}</div>
            </div>
            <div {{ stimulus_controller('form-collection') }}>
                {{ form_row(form.themeAffiliations) }}
                <button type="button" class="btn btn-sm btn-success" data-action="form-collection#add">
                    <span class="fa fa-plus"></span> Add theme
                </button>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            {# todo add some info about the next workflow steps #}
            {% if form.captcha is defined %}
                <hr/>
                {{ form_row(form.captcha) }}
            {% endif %}
            {% if form.isSilent is defined %}
                <hr/>
                {{ form_row(form.isSilent) }}
            {% endif %}
        </div>
        <div class="card-footer">
            {{ form_row(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block unit_affiliation_row %}
    <div data-controller="other-entry">
        {{ form_row(form.unit) }}
        {{ form_row(form.otherUnit) }}
    </div>
{% endblock %}

{% block theme_affiliation_row %}
    <div class="collection-row">
        <div class="row">
            <div class="col-lg">{{ form_row(form.theme) }}</div>
            <div class="col-lg">{{ form_row(form.memberCategory) }}</div>
        </div>
        {% if form.positionWhenJoined is defined %}
            <div class="row">
                <div class="col">
                    {{ form_row(form.positionWhenJoined) }}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg">{{ form_row(form.startedAt) }}</div>
            <div class="col-lg">{{ form_row(form.endedAt) }}</div>
        </div>
    </div>
{% endblock %}

{% block room_affiliation_row %}
    {{ form_row(form.room, {'row_attr':{'class':'mb-0'}}) }}
{% endblock %}


{% block captcha_widget %}
    <div>
        <img src="{{ captcha_code }}" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}"
             style="margin-bottom: 0.5rem;"/>
        {{ form_widget(form) }}
    </div>
{% endblock %}