{% block ThemeAffiliation_row %}
    <div class="collection-row">
        {% if data is not null %}
        <div class="collection-label">
            {{ data }}
            <span class="float-end">
                <a href="#theme-affiliation-collapse-{{ data.id }}" data-bs-toggle="collapse"
                   data-controller="edit-warning" data-action="edit-warning#warn:once">
                    <span class="fas fa-pencil"></span>
                </a>
            </span>
        </div>
        <div id="theme-affiliation-collapse-{{ data.id }}" class="collapse">
            {% endif %}
            {% if form.theme is defined %}
                <div class="row">
                    <div class="col-lg">{{ form_row(form.theme) }}</div>
                    <div class="col-lg">
                        <div class="float-end">
                            <a href="#" data-action="form-collection#deleteRow">
                                <span class="fa fa-trash"></span>
                            </a>
                        </div>
                        {{ form_row(form.memberCategory) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg">{{ form_row(form.title) }}</div>
                    <div class="col-lg">{{ form_row(form.roles) }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-lg" data-controller="form-collection">
                        {{ form_row(form.sponsorAffiliations) }}
                        <button type="button" class="btn btn-sm btn-success" data-action="form-collection#add">Add
                            Sponsor
                        </button>
                    </div>
                    <div class="col-lg" data-controller="form-collection">
                        {{ form_row(form.supervisorAffiliations) }}
                        <button type="button" class="btn btn-sm btn-success" data-action="form-collection#add">Add
                            Supervisor
                        </button>
                    </div>
                </div>
                {% if form.positionWhenJoined is defined %}
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.positionWhenJoined) }}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            <div class="row">
                <div class="col">
                    {% if form.startedAt is defined %}
                        {{ form_row(form.startedAt) }}
                    {% elseif data is not null %}
                        <p class="mb-2">Start date</p>
                        {{ data.startedAt|date('n/j/Y') }}
                    {% endif %}
                </div>
                <div class="col">
                    {{ form_row(form.endedAt) }}
                </div>
            </div>
            {% if data is not null %}
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block SupervisorAffiliation_row %}
    <div class="collection-row">
        {% if data is not null %}
        <div class="collection-label">
            {{ data.supervisor.name }}
            <span class="float-end">
                <a href="#supervisor-affiliation-collapse-{{ data.id }}" data-bs-toggle="collapse"
                   data-controller="edit-warning" data-action="edit-warning#warn:once">
                    <span class="fas fa-pencil"></span>
                </a>
            </span>
        </div>
        <div id="supervisor-affiliation-collapse-{{ data.id }}" class="collapse">
            {% endif %}
            <div class="float-end">
                <a href="#" data-action="form-collection#deleteRow">
                    <span class="fa fa-trash"></span>
                </a>
            </div>
            {% if form.supervisor is defined %}
                {{ form_row(form.supervisor) }}
            {% endif %}
            <div class="row">
                <div class="col">
                    {% if form.startedAt is defined %}
                        {{ form_row(form.startedAt) }}
                    {% elseif data is not null %}
                        <p class="mb-2">Start date</p>
                        {{ data.startedAt|date('n/j/Y') }}
                    {% endif %}
                </div>
                <div class="col">
                    {{ form_row(form.endedAt) }}
                </div>
            </div>
            {% if data is not null %}
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block SponsorAffiliation_row %}
    <div class="collection-row">
        {% if data is not null %}
        <div class="collection-label">
            {{ data.sponsor.name }}
            <span class="float-end">
                <a href="#sponsor-affiliation-collapse-{{ data.id }}" data-bs-toggle="collapse"
                   data-controller="edit-warning" data-action="edit-warning#warn:once">
                    <span class="fas fa-pencil"></span>
                </a>
            </span>
        </div>
        <div id="sponsor-affiliation-collapse-{{ data.id }}" class="collapse">
            {% endif %}
            <div class="float-end">
                <a href="#" data-action="form-collection#deleteRow">
                    <span class="fa fa-trash"></span>
                </a>
            </div>
            {% if form.sponsor is defined %}
                {{ form_row(form.sponsor) }}
            {% endif %}
            <div class="row">
                <div class="col">
                    {% if form.startedAt is defined %}
                        {{ form_row(form.startedAt) }}
                    {% elseif data is not null %}
                        <p class="mb-2">Start date</p>
                        {{ data.startedAt|date('n/j/Y') }}
                    {% endif %}
                </div>
                <div class="col">
                    {{ form_row(form.endedAt) }}
                </div>
            </div>
            {% if data is not null %}
        </div>
        {% endif %}
    </div>
{% endblock %}