{% extends 'base.html.twig' %}

{% block content %}
    <div class="callout callout-info">
        Please enter the date upon which the IGB member's affiliation with this unit ended (or will end)
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Unit Affiliation</div>
                <table class="table">
                    <tr>
                        <th>Unit</th>
                        <td>{{ unitAffiliation.unit??unitAffiliation.otherUnit }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'person.started_at'|trans }}</th>
                        <td>{{ unitAffiliation.startedAt|date('n/j/Y') }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | End Unit Affiliation
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('person') }}">IGB Members</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ path('person_view', {'slug': person.slug}) }}">{{ person.name }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        End Unit Affiliation
    </li>
{% endblock %}