{% block person_datatable_tr %}
    <tr>
        {# Name/Portrait Column #}
        <td {% if person.imageName is null %}class="td-no-portrait"{% endif %}
            data-order="{{ person.lastName }}"
            data-search="{% block person_name %}{% if person.lastName is not empty %}{{ person.name }}{% else %}No name{% endif %}{% endblock %}">
            {% if person.imageName is not null %}
                {# We might want to look into lazy-loading these images, but for now they're so small (~2k each) that it's not worth it #}
                <img class="portrait-sm me-2"
                     data-src="{{ vich_uploader_asset(person, 'imageFile') | imagine_filter('small_thumb') }}"
                     alt="Portrait"/>
                <noscript>
                    <img class="portrait-sm me-2"
                         src="{{ vich_uploader_asset(person, 'imageFile') | imagine_filter('small_thumb') }}"
                         alt="Portrait"/>
                </noscript>
            {% endif %}
            <a href="{{ path('person_view', {'slug': person.slug}) }}">{{ block('person_name') }}</a>
        </td>

        {# Email Column #}
        <td>{{ person.email }}</td>

        {# Theme Affiliations Column #}
        <td data-search="{%- if app.request.get('_route' == 'person_everyone') -%}
                {%- for themeAffiliation in person.themeAffiliations -%}
                    {%- block comboSearch -%}
                        {{- themeAffiliation.theme.shortName -}},
                        {{- themeAffiliation.memberCategory.shortName??themeAffiliation.memberCategory.name -}},
                        {%- for role in themeAffiliation.themeRoles -%}
                            {{ role.displayName }}
                        {%- endfor -%}
                        ;
                    {%- endblock -%}
                {%- endfor -%}
            {%- else -%}
                {%- for themeAffiliation in person.themeAffiliations|current -%}
                    {{ block('comboSearch') }}
                {%- endfor -%}
            {%- endif -%}">
            {% if app.request.get('_route') == 'person_everyone' %}
                {% for themeAffiliation in person.themeAffiliations %}
                    {% block themes %}
                        <div class="{{ html_classes('theme-row', {'text-muted': not themeAffiliation.isCurrent}) }}">

                            <a href="{{ path('theme_view', {'shortName': themeAffiliation.theme.shortName}) }}">{{ themeAffiliation.theme.shortName }}</a>

                            {{ themeAffiliation.memberCategory.shortName??themeAffiliation.memberCategory.name }}

                            {% if themeAffiliation.title %}
                                ({{ themeAffiliation.title }})
                            {% endif %}
                            {% for role in themeAffiliation.themeRoles %}
                                ({{ role.displayName }})
                            {% endfor %}

                        </div>
                    {% endblock %}
                {% endfor %}
            {% else %}
                {% for themeAffiliation in person.themeAffiliations|current %}
                    {{ block('themes') }}
                {% endfor %}
            {% endif %}
        </td>

        {# Rooms Column #}
        <td>
            {% for roomAffiliation in person.roomAffiliations|current %}
                {{ roomAffiliation.room.number }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </td>
        <td class="d-none">
            {% if app.request.get('_route' == 'person_everyone') %}
                {%- for themeAffiliation in person.themeAffiliations -%}
                    {%- block comboSearch -%}
                        {{- themeAffiliation.theme.shortName -}},
                        {{- themeAffiliation.memberCategory.shortName??themeAffiliation.memberCategory.name -}},
                        {% for role in themeAffiliation.themeRoles %}
                            {{ role.displayName }}
                        {% endfor %}
                        ;
                    {%- endblock -%}
                {%- endfor -%}
            {% else %}
                {% for themeAffiliation in person.themeAffiliations|current %}
                    {{ block('comboSearch') }}
                {% endfor %}
            {% endif %}
        </td>
    </tr>
{% endblock %}

{% block person_datatable_thead %}
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th data-orderable="false">Theme</th>
        <th>Room</th>
        <th class="d-none">Combo Search</th>
    </tr>
{% endblock %}
