{% block person_datatable_tr %}
    <tr>
        <td {% if person.imageName is null %}class="td-no-portrait"{% endif %}
            data-order="{{ person.lastName }}"
            data-search="{% block person_name %}{% if person.lastName is not empty %}{{ person.name }}{% else %}No name{% endif %}{% endblock %}">
            {% if person.imageName is not null %}
                {# We might want to look into lazy-loading these images, but for now they're so small (~2k each) that it's not worth it #}
                <img class="portrait-sm me-2"
                     src="{{ vich_uploader_asset(person, 'imageFile') | imagine_filter('small_thumb') }}"
                     alt="Portrait"/>
            {% endif %}
            <a href="{{ path('person_view', {'slug': person.slug}) }}">{{ block('person_name') }}</a>
        </td>
        <td>{{ person.email }}</td>
        <td>
            {% if app.request.get('_route') == 'person_everyone' %}
                {% for themeAffiliation in person.themeAffiliations %}
                    {% block themes %}
                        {% if not themeAffiliation.isCurrent %}<span class="text-muted">{% endif %}
                        <a href="{{ path('theme_view', {'shortName': themeAffiliation.theme.shortName}) }}">{{ themeAffiliation.theme.shortName }}</a>
                        {% if not themeAffiliation.isCurrent %}</span>{% endif %}
                        {% if not loop.last %}<br/>{% endif %}
                    {% endblock %}
                {% endfor %}
            {% else %}
                {% for themeAffiliation in person.themeAffiliations|current %}
                    {{ block('themes') }}
                {% endfor %}
            {% endif %}
        </td>
        <td>
            {% if app.request.get('_route') == 'person_everyone' %}
                {% for themeAffiliation in person.themeAffiliations %}
                    {% block titles %}
                        {% if not themeAffiliation.isCurrent %}<span class="text-muted">{% endif %}
                        {% if themeAffiliation.title %}
                            {{ themeAffiliation.title }}
                        {% endif %}
                        {% if themeAffiliation.title and themeAffiliation.themeRoles|length>0 %}
                            (
                        {%- endif -%}
                        {% for role in themeAffiliation.themeRoles %}
                            {{ role.displayName }}
                        {% endfor %}
                        {%- if themeAffiliation.title and themeAffiliation.themeRoles|length>0 -%}
                            )
                        {% endif %}
                        {% if not themeAffiliation.isCurrent %}</span>{% endif %}
                        {%- if not loop.last -%}
                            <br/>
                        {% endif %}
                    {% endblock %}
                {% endfor %}
            {% else %}
                {% for themeAffiliation in person.themeAffiliations|current %}
                    {{ block('titles') }}
                {% endfor %}
            {% endif %}
        </td>
        <td>
            {% if app.request.get('_route') == 'person_everyone' %}
                {% for themeAffiliation in person.themeAffiliations %}
                    {% block types %}
                        {% if not themeAffiliation.isCurrent %}<span class="text-muted">{% endif %}
                        {{ themeAffiliation.memberCategory.shortName??themeAffiliation.memberCategory.name }}
                        {% if not themeAffiliation.isCurrent %}</span>{% endif %}
                        {% if not loop.last %}<br/>{% endif %}
                    {% endblock %}
                {% endfor %}
            {% else %}
                {% for themeAffiliation in person.themeAffiliations|current %}
                    {{ block('types') }}
                {% endfor %}
            {% endif %}
        </td>
        <td>
            {% for roomAffiliation in person.roomAffiliations|current %}
                {{ roomAffiliation.room.number }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </td>
        <td class="d-none">
            {% if app.request.get('_route' == 'person_everyone') %}
                {%- for themeAffiliation in person.themeAffiliations -%}
                    {%- block comboSearch -%}
                        {{- themeAffiliation.theme.shortName -}},
                        {{- themeAffiliation.memberCategory.shortName??themeAffiliation.memberCategory.name -}},
                        {% for role in themeAffiliation.themeRoles %}
                            {{ role.displayName }}
                        {% endfor %}
                        ;
                    {%- endblock -%}
                {%- endfor -%}
            {% else %}
                {% for themeAffiliation in person.themeAffiliations|current %}
                    {{ block('comboSearch') }}
                {% endfor %}
            {% endif %}
        </td>
    </tr>
{% endblock %}

{% block person_datatable_thead %}
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Theme</th>
        <th>Title</th>
        <th>Type</th>
        <th>Room</th>
        <th class="d-none">Combo Search</th>
    </tr>
{% endblock %}
