{% block person_datatable_tr %}
    {# @var person \App\Entity\Person #}
    <tr>
        {# Name/Portrait Column #}
        <td class="{{ html_classes('align-middle', {'td-no-portrait':person.imageName is null}) }}"
            data-order="{{ person.lastName }}, {{ person.firstName }}"
            data-search="{% block person_name %}{% if person.lastName is not empty %}{{ person.name }}{% else %}No name{% endif %}{% endblock %}">
            {% apply spaceless %}
                {% if person.imageName is not null %}
                    {# We might want to look into lazy-loading these images, but for now they're so small (~2k each) that it's not worth it #}
                    <img class="portrait-sm me-2"
                         data-src="{{ vich_uploader_asset(person, 'imageFile') | imagine_filter('small_thumb') }}"
                         alt="Portrait"/>
                    <noscript>
                        <img class="portrait-sm me-2"
                             src="{{ vich_uploader_asset(person, 'imageFile') | imagine_filter('small_thumb') }}"
                             alt="Portrait"/>
                    </noscript>
                {% endif %}
                <a href="{{ path('person_view', {'slug': person.slug}) }}">{{ block('person_name') }}</a>
            {% endapply %}
        </td>

        {# Email Column #}
        <td class="align-middle">{{ person.email }}</td>

        {# Theme Affiliations Column #}
        <td class="align-middle"
            data-search="{%- for themeAffiliation in person.themeAffiliations -%}
                        {{- themeAffiliation.theme.shortName -}},
                        {{- themeAffiliation.memberCategory.shortName??themeAffiliation.memberCategory.name -}},
                        {%- for role in themeAffiliation.roles -%}
                            {{ role }}
                        {%- endfor -%}
                        ;
                        {%- if themeAffiliation.theme.parentTheme -%}
                        {{- themeAffiliation.theme.parentTheme.shortName -}},
                        {{- themeAffiliation.memberCategory.shortName??themeAffiliation.memberCategory.name -}},
                        {%- for role in themeAffiliation.roles -%}
                            {{ role }}
                        {%- endfor -%}
                        ;
                        {%- endif -%}
                {%- endfor -%}">
            {% for themeAffiliation in person.themeAffiliations %}
                <div class="{{ html_classes('theme-row', {'text-muted': not themeAffiliation.isCurrent}) }}">

                    <a href="{{ path('theme_view', {'shortName': themeAffiliation.theme.shortName}) }}">{{ themeAffiliation.theme.shortName }}</a>

                    {{ themeAffiliation.memberCategory.shortName??themeAffiliation.memberCategory.name }}

                    {% if themeAffiliation.title %}
                        ({{ themeAffiliation.title }})
                    {% endif %}
                    {% for role in themeAffiliation.roles %}
                        ({{ role }})
                    {% endfor %}

                </div>
            {% endfor %}
        </td>

        <td class="align-middle">
            {{ person.unit??person.otherUnit??'None' }}
        </td>

        {# Rooms Column #}
        <td class="align-middle">
            {% for roomAffiliation in person.roomAffiliations|current %}
                {{ roomAffiliation.room.number }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </td>


        {# Export columns #}
        <td>{{ person.lastName }}</td>
        <td>{{ person.firstName }}</td>
        <td>{{ person.middleInitial }}</td>
        <td>{{ person.email }}</td>
    </tr>
{% endblock %}

{% block person_datatable_thead %}
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th data-orderable="false">Theme</th>
        <th>Unit</th>
        <th>Room</th>

        {# Export columns #}
        <th data-visible="false" class="export-column">Last Name</th>
        <th data-visible="false" class="export-column">First Name</th>
        <th data-visible="false" class="export-column">Middle Initial</th>
        <th data-visible="false" class="export-column">Email</th>
    </tr>
{% endblock %}
