{% block content %}
    <div class="callout callout-info">
        All fields are optional. {# todo better help text here #}
    </div>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg">
            <div class="card mb-3">
                <div class="card-header">Personal Info</div>
                <div class="card-body">
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.middleInitial) }}
                    {{ form_row(form.preferredFirstName) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.netid) }}
                    {{ form_row(form.uin) }}
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card mb-3">
                <div class="card-header">Contact Info</div>
                <div class="card-body">
                    {{ form_row(form.email) }}
                    {{ form_row(form.officePhone) }}
                    {{ form_row(form.homeAddress) }}
                    {{ form_row(form.officeNumber) }}
                    {{ form_row(form.officeBuilding) }}
                    {{ form_row(form.preferredAddress) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <div class="card mb-3">
                <div class="card-header">Misc. Info</div>
                <div class="card-body">
                    {{ form_row(form.isDrsTrainingComplete) }}
                    {{ form_row(form.isIgbTrainingComplete) }}
                    {{ form_row(form.offerLetterDate) }}
                </div>
            </div>
        </div>
        <div class="col-lg">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="card mb-3">
                    <div class="card-header">Administration</div>
                    <div class="card-body">
                        {{ form_row(form.roles) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}