{% extends 'base.html.twig' %}

{% block content %}
    <div class="callout callout-danger">This will permanently delete the document '{{ document }}'. This cannot be undone.</div>
    <form method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{% endblock %}

{% block title %}
    {{ parent() }} | Delete Document
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('person') }}">IGB Members</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ path('person_view', {'id': person.id}) }}">{{ person.name }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Delete Document
    </li>
{% endblock %}

