{% extends 'base.html.twig' %}

{% block content %}
    <div class="callout callout-info">
        All fields are optional. {# todo better help text here #}
    </div>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg">
            <div class="card mb-3">
                <div class="card-header">Personal Info</div>
                <div class="card-body">
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.middleInitial) }}
                    {{ form_row(form.preferredFirstName) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.netid) }}
                    {{ form_row(form.uin) }}
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Misc. Info</div>
                <div class="card-body">
                    {{ form_row(form.isDrsTrainingComplete) }}
                    {{ form_row(form.isIgbTrainingComplete) }}
                    {{ form_row(form.offerLetterDate) }}
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card mb-3">
                <div class="card-header">Contact Info</div>
                <div class="card-body">
                    {{ form_row(form.email) }}
                    {{ form_row(form.officePhone) }}
                    {{ form_row(form.homeAddress) }}
                    {{ form_row(form.officeNumber) }}
                    {{ form_row(form.officeBuilding) }}
                    {{ form_row(form.preferredAddress) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block title %}
    {{ parent() }} | Edit {{ person.name }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('person') }}">IGB Members</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ path('person_view', {'id': person.id}) }}">{{ person.name }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Edit
    </li>
{% endblock %}