{% extends 'base.html.twig' %}

{% block content %}
    <h2>Edit '{{ person.name }}'</h2>
    {#    <div class="callout callout-info"> #}
    {#        All fields are optional. #}{# todo better help text here #}
    {#    </div> #}
    {% form_theme form _self 'form_themes/_keys.html.twig' 'form_themes/_themeAffiliation.html.twig' %}
    {{ form_start(form) }}
    {# todo these columns need to be rearranged a bit #}
    <div class="row" data-controller="netid-autofill">
        <div class="col-lg">
            <div class="card mb-3">
                <div class="card-header">Personal Info</div>
                <div class="card-body">
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.middleInitial) }}
                    {{ form_row(form.preferredFirstName) }}
                    <div {{ stimulus_controller('user-check', {'field':'username', 'excludeId': person.id}) }}>
                        {{ form_row(form.netid, {'attr':{'data-action':'netid-autofill#updateFields user-check#debounceCheck'}}) }}
                        {{ form_row(form.username, {'attr':{'data-netid-autofill-target':'username', 'data-user-check-target':'input', 'data-action':'user-check#debounceCheck'}}) }}
                    </div>
                    <div {{ stimulus_controller('user-check', {'field':'uin', 'excludeId': person.id, numeric:true}) }}>
                        {{ form_row(form.uin, {'attr':{'data-user-check-target':'input', 'data-action':'user-check#debounceCheck'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card mb-3">
                <div class="card-header">Contact Info</div>
                <div class="card-body">
                    {{ form_row(form.email, {'attr':{'data-netid-autofill-target':'email'}}) }}
                    {{ form_row(form.officePhone) }}
                    {{ form_row(form.officeNumber) }}
                    <div data-controller="other-entry">
                        {{ form_row(form.officeBuilding) }}
                        {{ form_row(form.otherAddress) }}
                    </div>
                    {{ form_row(form.unit) }}
                    {{ form_row(form.otherUnit) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <div class="card mb-3">
                <div class="card-header">Misc. Info</div>
                <div class="card-body">
                    {{ form_row(form.imageFile) }}
                </div>
            </div>
            <div class="card mb-3" data-controller="form-collection">
                <div class="card-header">Themes</div>
                <div class="card-body">
                    {{ form_row(form.themeAffiliations) }}
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-sm btn-success" data-action="form-collection#add">Add Theme
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card mb-3" data-controller="form-collection">
                <div class="card-header">Rooms</div>
                <div class="card-body">
                    {{ form_row(form.roomAffiliations) }}
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-sm btn-success" data-action="form-collection#add">Add Room
                    </button>
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="card mb-3">
                    <div class="card-header">Administration</div>
                    <div class="card-body">
                        {{ form_row(form.roles) }}
                        {{ form_row(form.hideFromDirectory) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% if form.keyAffiliations is defined %}
        <div class="card mb-3" data-controller="form-collection">
            <div class="card-header">Keys</div>
            <div class="card-body">
                {{ form_row(form.hasGivenKeyDeposit) }}
                {{ form_row(form.keyAffiliations) }}
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-sm btn-success" data-action="form-collection#add">Add Key
                </button>
            </div>
        </div>
    {% endif %}

    {{ form_row(form.save) }}

    {{ form_end(form) }}
{% endblock %}



{% block RoomAffiliation_row %}
    <div class="collection-row">
        {% if data is not null %}
        <div class="collection-label">
            {{ data.room }}
            <span class="float-end">
                <a href="#room-affiliation-collapse-{{ data.id }}" data-bs-toggle="collapse"
                   data-controller="edit-warning" data-action="edit-warning#warn:once">
                    <span class="fas fa-pencil"></span>
                </a>
            </span>
        </div>
        <div id="room-affiliation-collapse-{{ data.id }}" class="collapse">
            {% endif %}
            <div class="float-end">
                <a href="#" data-action="form-collection#deleteRow">
                    <span class="fa fa-trash"></span>
                </a>
            </div>
            {% if form.room is defined %}
                {{ form_row(form.room) }}
            {% endif %}
            <div class="row">
                <div class="col">
                    {% if form.startedAt is defined %}
                        {{ form_row(form.startedAt) }}
                    {% elseif data is not null %}
                        <p class="mb-2">Start date</p>
                        {{ data.startedAt|date('n/j/Y') }}
                    {% endif %}
                </div>
                <div class="col">
                    {{ form_row(form.endedAt) }}
                </div>
            </div>
            {% if data is not null %}
        </div>
        {% endif %}
    </div>
{% endblock %}



{% block title %}
    {{ parent() }} | Edit {{ person.name }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('person_currentmembers') }}">IGB Members</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ path('person_view', {'slug': person.slug}) }}">{{ person.name }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Edit
    </li>
{% endblock %}
