{% extends 'base.html.twig' %}

{% block content %}
    <div class="callout callout-info">
        Please enter the date upon which the IGB member's affiliation with this theme ended (or will end)
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Theme Affiliation</div>
                <table class="table">
                    <tr>
                        <th>IGB Member</th>
                        <td>{{ themeAffiliation.person }}</td>
                    </tr>
                    <tr>
                        <th>Theme</th>
                        <td>{{ themeAffiliation.theme.shortName }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ themeAffiliation.title }}</td>
                    </tr>
                    <tr>
                        <th>Member Type</th>
                        <td>{{ themeAffiliation.memberCategory.name }}</td>
                    </tr>
                    <tr>
                        <th>Start Date</th>
                        <td>{{ themeAffiliation.startedAt|date('n/j/Y') }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | End Theme Affiliation
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('person') }}">IGB Members</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ path('person_view', {'id': person.id}) }}">{{ person.name }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        End Theme Affiliation
    </li>
{% endblock %}