{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | People{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">IGB Members</li>
{% endblock %}

{% block content %}
    <div data-controller="datatables">
        <table id="people" class="table" data-datatables-target="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Theme</th>
                <th>Title</th>
                <th>Type</th>
                <th>Room</th>
            </tr>
            </thead>
            <tbody>
            {% for person in people %}
                <tr>
                    <td {% if person.imageName is null %}class="td-no-portrait"{% endif %}
                        data-order="{{ person.lastName }}"
                        data-search="{% block person_name %}{% if person.lastName is not empty %}{{ person.name }}{% else %}No name{% endif %}{% endblock %}">
                        {% if person.imageName is not null %}
                            <img class="portrait-sm me-2"
                                 src="{{ vich_uploader_asset(person, 'imageFile') | imagine_filter('small_thumb') }}"
                                 alt="Portrait"/>
                        {% endif %}
                        <a href="{{ path('person_view', {'slug': person.slug}) }}">{{ block('person_name') }}</a>
                    </td>
                    <td>{{ person.email }}</td>
                    <td>
                        {% if app.request.get('_route') != 'person_everyone' %}
                            {% for themeAffiliation in person.themeAffiliations|current %}
                                {% block themes %}
                                    {% if not themeAffiliation.isCurrent %}<span class="text-muted">{% endif %}
                                    {{ themeAffiliation.theme.shortName }}
                                    {% if not themeAffiliation.isCurrent %}</span>{% endif %}
                                    {% if not loop.last %}<br/>{% endif %}
                                {% endblock %}
                            {% endfor %}
                        {% else %}
                            {% for themeAffiliation in person.themeAffiliations %}
                                {{ block('themes') }}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if app.request.get('_route') != 'person_everyone' %}
                            {% for themeAffiliation in person.themeAffiliations|current %}
                                {% block titles %}
                                    {% if not themeAffiliation.isCurrent %}<span class="text-muted">{% endif %}
                                    {% if themeAffiliation.title %}
                                        {{ themeAffiliation.title }}
                                    {% endif %}
                                    {% if themeAffiliation.title and (themeAffiliation.isThemeLeader or themeAffiliation.isThemeAdmin or themeAffiliation.isLabManager) %}
                                        (
                                    {%- endif -%}
                                    {% if themeAffiliation.isThemeLeader %}
                                        Theme Leader
                                    {% endif %}
                                    {% if themeAffiliation.isThemeAdmin %}
                                        Theme Admin
                                    {% endif %}
                                    {% if themeAffiliation.isLabManager %}
                                        Lab Manager
                                    {% endif %}
                                    {%- if themeAffiliation.title and (themeAffiliation.isThemeLeader or themeAffiliation.isThemeAdmin or themeAffiliation.isLabManager) -%}
                                        )
                                    {% endif %}
                                    {% if not themeAffiliation.isCurrent %}</span>{% endif %}
                                    {%- if not loop.last -%}
                                        <br/>
                                    {% endif %}
                                {% endblock %}
                            {% endfor %}
                        {% else %}
                            {% for themeAffiliation in person.themeAffiliations %}
                                {{ block('titles') }}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if app.request.get('_route' != 'person_everyone') %}
                            {% for themeAffiliation in person.themeAffiliations|current %}
                                {% block types %}
                                    {% if not themeAffiliation.isCurrent %}<span class="text-muted">{% endif %}
                                    {{ themeAffiliation.memberCategory.shortName??themeAffiliation.memberCategory.name }}
                                    {% if not themeAffiliation.isCurrent %}</span>{% endif %}
                                    {% if not loop.last %}<br/>{% endif %}
                                {% endblock %}
                            {% endfor %}
                        {% else %}
                            {% for themeAffiliation in person.themeAffiliations %}
                                {{ block('types') }}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% for roomAffiliation in person.roomAffiliations|current %}
                            {{ roomAffiliation.room.number }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="card mt-3">
            <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#advanced-search"
                 aria-expanded="false" role="button">
                Advanced Search
            </div>
            <div class="collapse" id="advanced-search">
                <div class="card-body">
                    {{ form_start(advancedSearchForm) }}
                        <div class="row">
                            <div class="col-lg">{{ form_row(advancedSearchForm.theme) }}</div>
                            <div class="col-lg">{{ form_row(advancedSearchForm.employeeType) }}</div>
                            <div class="col-lg">{{ form_row(advancedSearchForm.role) }}</div>
                        </div>
                    {{ form_end(advancedSearchForm) }}

                    {% if app.request.get('_route') != 'person_everyone' %}
                        <div class="row mt-3">
                            <div class="col">
                                <a href="{{ path('person_everyone') }}">See all members past and present</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}