{% extends 'base.html.twig' %}
{% use 'person/_datatable.html.twig' %}

{% block title %}{{ parent() }} | People{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">IGB Members</li>
{% endblock %}

{% block content %}
    <div data-controller="datatables" data-datatables-combo-column-value="2"
         data-datatables-combo-pattern-value='["advanced_search_theme","advanced_search_employeeType","advanced_search_role"]'>
        <table id="people" class="table" data-datatables-target="table" style="width: 100%">
            <thead>
            {{ block('person_datatable_thead') }}
            </thead>
            <tbody>
            {% for person in people %}
                {{ block('person_datatable_tr') }}
            {% endfor %}
            </tbody>
        </table>

        <div class="card mt-3">
            <div class="card-header collapse-header">
                Advanced Search
            </div>
            <div class="card-body">
                {{ form_start(advancedSearchForm) }}
                <div class="row">
                    <div class="col-lg-6 col-xl">{{ form_row(advancedSearchForm.theme) }}</div>
                    <div class="col-lg-6 col-xl">{{ form_row(advancedSearchForm.employeeType) }}</div>
                    <div class="col-lg-6 col-xl">{{ form_row(advancedSearchForm.role) }}</div>
                    <div class="col-lg-6 col-xl">{{ form_row(advancedSearchForm.department) }}</div>
                </div>
                {{ form_end(advancedSearchForm) }}

                <div class="callout callout-info">
                    {# todo this copy needs a second look #}
                    Selecting an option from each dropdown will search for members who match <strong>all</strong>
                    options. Selecting multiple options from a single dropdown will search for members who match
                    <strong>any</strong> of those options. For example, if you select MME, MMG, and Faculty, both MME
                    Faculty and MMG Faculty will be displayed.
                </div>

                {% if app.request.get('_route') != 'person_everyone' %}
                    <div class="row mt-3">
                        <div class="col">
                            <a class="btn btn-secondary" href="{{ path('person_everyone') }}">
                                <span class="fas fa-eye"></span>
                                See all members past and present
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="row mt-3">
                        <div class="col">
                            <a class="btn btn-secondary" href="{{ path('person') }}">
                                <span class="fas fa-eye-slash"></span>
                                See only current members
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}