{% extends 'base.html.twig' %}
{% use 'person/_datatable.html.twig' %}

{% block title %}{{ parent() }} | People{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">IGB Members</li>
{% endblock %}

{% block content %}
    <div data-controller="datatables" data-datatables-combo-column-value="2"
         data-datatables-combo-pattern-value='["filter_theme","filter_employeeType","filter_role"]'>
        <table id="people" class="table" data-datatables-target="table" style="width: 100%">
            <thead>
            {{ block('person_datatable_thead') }}
            </thead>
            <tbody>
            {% for person in people %}
                {{ block('person_datatable_tr') }}
            {% endfor %}
            </tbody>
        </table>

        <div class="card mt-3">
            <div class="card-header collapse-header">
                Filter
            </div>
            <div class="card-body">
                {{ form_start(filterForm) }}
                <div class="row">
                    <div class="col-lg-6 col-xl">{{ form_row(filterForm.theme) }}</div>
                    <div class="col-lg-6 col-xl">{{ form_row(filterForm.employeeType) }}</div>
                    <div class="col-lg-6 col-xl">{{ form_row(filterForm.role) }}</div>
                    <div class="col-lg-6 col-xl">{{ form_row(filterForm.unit) }}</div>
                </div>
                {{ form_end(filterForm) }}

                <p class="mb-0">
                    {# todo this copy needs a second look #}
                    Selecting an option from each dropdown will search for members who match <strong>all</strong>
                    options. Selecting multiple options from a single dropdown will search for members who match
                    <strong>any</strong> of those options. For example, if you select MME, MMG, and Faculty, both MME
                    Faculty and MMG Faculty will be displayed.
                </p>
            </div>
        </div>

        <div class="callout mt-2">
            <strong>Legend</strong><br/>
            <span class="fas fa-calendar-day text-warning" title="Previous affiliation"></span> Previous affiliation<br/>
            <span class="fas fa-building text-info" title="Non IGB member"></span> Building access only; Not an IGB theme
        </div>
    </div>
{% endblock %}