{% extends 'base.html.twig' %}
{% use 'person/_table.html.twig' %}

{% block title %}{{ parent() }} | People{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">IGB Members</li>
{% endblock %}

{% block content %}
    {{ form_start(filterForm, {'attr':{'data-controller':'autosubmit'}}) }}

    {% with {'title':'IGB Members'} %} {# todo different title depending on which index? #}
    {{ block('person_table_header') }}
    {% endwith %}

    {{ block('person_table') }}

    {{ block('person_table_footer') }}

    {{ block('person_table_filters') }}

    {% if app.current_route != 'person_currentmembers' %}
    {{ block('person_table_legend') }}
    {% endif %}

    {{ form_end(filterForm) }}
{% endblock %}