{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | People{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">IGB Members</li>
{% endblock %}

{% block content %}
    <table id="people" class="table">
        <thead>
        <tr>
            <th>Name</th>
            {% if is_granted('ROLE_CNRG') %}
                <th>Username</th>
            {% endif %}
            <th>Email</th>
            <th>Theme</th>
            <th>Type</th>
            <th>Room</th>
        </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>
                    <a href="{{ path('person_view', {'slug': person.slug}) }}">{% if person.lastName is not empty %}{{ person.name }}{% else %}No name{% endif %}</a>
                </td>
                <td>{{ person.username }}</td>
                <td>{{ person.email }}</td>
                <td>
                    {% for themeAffiliation in person.themeAffiliations|current %}
                        {{ themeAffiliation.theme.shortName }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for themeAffiliation in person.themeAffiliations|current %}
                        {{ themeAffiliation.memberCategory.name }}{% if not loop.last %}, {% endif %} {# todo do we want titles? #}
                    {% endfor %}
                </td>
                <td>
                    {% for roomAffiliation in person.roomAffiliations|current %}
                        {{ roomAffiliation.room.number }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('personIndex') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('personIndex') }}
{% endblock %}