{% extends 'base.html.twig' %}

{% block content %}

{{ form(form) }}
{% endblock %}

{% block title %}
{{ parent() }} | Upload Document
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('person') }}">IGB Members</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ path('person_view', {'id': person.id}) }}">{{ person.name }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Upload Document
    </li>
{% endblock %}

