{% extends 'base.html.twig' %}

{% block content %}
    <div class="float-end">
        {% if is_granted('PERSON_EDIT', person) %}
            <a class="btn btn-primary" href="{{ path('person_edit', {'slug': person.slug}) }}">
                <span class="fa fa-pencil"></span> Edit
            </a>
        {% endif %}
    </div>
    <h1>
        {% if person.imageName is not null %}
            <img class="portrait-lg me-2"
                 src="{{ vich_uploader_asset(person, 'imageFile') | imagine_filter('large_thumb') }}" alt="Portrait"/>
        {% endif %}
        {{ person.name }}
    </h1>
    <div class="row">
        <div class="col-lg"> {# todo play with the columns a bit for different sizes #}
            <div class="card mb-3">
                <div class="card-header">
                    <span class="fas fa-user float-end text-muted mt-1"></span>
                    Personal Info
                </div>
                <table class="table">
                    <tr>
                        <th>{{ 'person.firstName'|trans }}</th>
                        <td>{{ person.firstName }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'person.lastName'|trans }}</th>
                        <td>{{ person.lastName }}</td>
                    </tr>
                    <tr>
                        <th>Middle Initial</th>
                        <td>{{ person.middleInitial }}</td>
                    </tr>
                    <tr>
                        <th>Preferred First Name</th>
                        <td>{{ person.preferredFirstName }}</td>
                    </tr>
                    <tr>
                        <th>IGB Username</th>
                        <td>{{ person.username }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'person.netid'|trans }}</th>
                        <td>{{ person.netid }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'person.uin'|trans }}</th>
                        <td>{{ person.uin }}</td>
                    </tr>
                    {% for themeAffiliation in person.themeAffiliations|current %}
                        <tr>
                            <th>Theme</th>
                            <td>
                                <strong>
                                    <a href="{{ path('theme_view', {'shortName': themeAffiliation.theme.shortName}) }}">{{ themeAffiliation.theme.shortName }}</a>
                                    {% for role in themeAffiliation.themeRoles %}
                                        {{ role.displayName }}
                                    {% endfor %}
                                </strong>
                                {% if themeAffiliation.title %}
                                    <br/>{{ themeAffiliation.title }} ({{ themeAffiliation.memberCategory.name }})
                                {% else %}
                                    <br/>{{ themeAffiliation.memberCategory.name }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for unitAffiliation in person.unitAffiliations|current %}
                        <tr>
                            <th>Unit</th>
                            <td>{{ unitAffiliation.unit??unitAffiliation.otherUnit }}</td>
                        </tr>
                    {% endfor %}

                    {% if person.supervisorAffiliations|current is not empty %}
                        <tr>
                            <th>Supervisor</th>
                            <td>
                                {% for supervisorAffiliation in person.supervisorAffiliations|current %}
                                <a href="{{ path('person_view', {'slug': supervisorAffiliation.supervisor.slug}) }}">
                                    {{ supervisorAffiliation.supervisor }}
                                    </a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if person.superviseeAffiliations|current is not empty %}
                        <tr>
                            <th>Supervisee(s)</th>
                            <td>
                                {% for superviseeAffiliation in person.superviseeAffiliations|current %}
                                <a href="{{ path('person_view', {'slug': superviseeAffiliation.supervisee.slug}) }}">
                                    {{ superviseeAffiliation.supervisee }}
                                    </a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="col-lg">
            <div class="card mb-3">
                <div class="card-header">
                    <span class="fas fa-address-card float-end text-muted mt-1"></span>
                    Contact Info
                </div>
                <table class="table">
                    <tr>
                        <th>Email</th>
                        <td>{{ person.email }}</td>
                    </tr>
                    <tr>
                        <th>Room</th>
                        <td>
                            {% for roomAffiliation in person.roomAffiliations|current %}
                                {{ roomAffiliation.room.number }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Office Phone</th>
                        <td>{{ person.officePhone }}</td>
                    </tr>
                    {% if person.officeBuilding or person.otherAddress %}
                        <tr>
                            <th>Other Campus Address</th>
                            <td>
                                {{ (person.otherAddress ?? person.officeBuilding.address)|nl2br }}
                                {{ person.officeNumber }}
                            </td>
                        </tr>
                        <tr>
                            <th>Preferred Address</th>
                            <td>
                                {{ person.preferredAddress.value }}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>

            {% if is_granted('PERSON_VIEW_DOCUMENTS') %}
                <div class="card mb-3">
                    <div class="card-header"><span class="fas fa-file float-end text-muted mt-1"></span> Documents</div>
                    {% if is_granted('PERSON_EDIT', person) %}
                        <div class="card-body">
                            <a href="{{ path('person_upload_document', {'slug': person.slug}) }}"
                               class="btn btn-primary">
                                <span class="fa fa-upload"></span> Upload
                            </a>
                        </div>
                    {% endif %}
                    <table class="table">
                        {% for document in person.documents %}
                            <tr>
                                <td><a href="{{ asset(vich_uploader_asset(document, 'file')) }}">{{ document }}</a></td>
                                <td class="shrink text-end text-muted">
                                    Uploaded by {{ document.uploadedBy }}<br/>
                                    {{ document.createdAt|date('n/j/Y') }}
                                    {% if document.type != constant('App\\Enum\\DocumentCategory::Other') %}
                                        <br/>{{ document.type.choiceLabel }}
                                    {% endif %}
                                </td>
                                <td class="shrink">
                                    {% if is_granted("PERSON_EDIT", person) %}
                                        <a class="text-decoration-none"
                                           href="{{ path('person_edit_document', {'id': document.id, 'slug': person.slug}) }}">
                                            <span class="fa fa-pencil"></span>
                                        </a>
                                        <a class="text-decoration-none"
                                           href="{{ path('person_delete_document', {'id': document.id, 'slug': person.slug}) }}">
                                            <span class="fa fa-trash"></span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}

            {% if is_granted('ROLE_KEY_MANAGER') %}
                <div class="card mb-3">
                    <div class="card-header">
                        <span class="fas fa-key float-end text-muted mt-1"></span>
                        Key Info
                    </div>
                    <table class="table">
                        <tr>
                            <th>Keys</th>
                            <td>
                                {% for keyAffiliation in person.keyAffiliations|current %}
                                    {{ keyAffiliation.cylinderKey.displayName }}{% if not loop.last %}, {% endif %}
                                {% else %}
                                    None
                                {% endfor %}
                            </td>
                            <td class="shrink"><a href="{{ path('person_edit_keys', {'id': person.id}) }}"><span
                                            class="fa fa-pencil"></span></a></td>
                        </tr>
                        <tr>
                            <th>Key Deposit</th>
                            <td>{{ person.hasGivenKeyDeposit?'Yes':'No' }}</td>
                            <td class="shrink"></td>
                        </tr>
                    </table>
                </div>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <div class="card mb-3">
                    <div class="card-header">
                        <span class="fas fa-gears float-end text-muted mt-1"></span>
                        Admin Info
                    </div>
                    <table class="table">
                        <tr>
                            <th>CONNECT Roles</th>
                            <td>{% for role in person.displayRoles %}
                                    {{ role|role }}
                                    {%- if not loop.last -%}
                                        ,
                                    {% endif %}
                                {% else %}
                                    None
                                {% endfor %}</td>
                        </tr>
                        <tr>
                            <th>CONNECT ID</th>
                            <td>{{ person.id }}</td>
                        </tr>
                        <tr>
                            <th>Membership status</th>
                            <td>
                                {{ workflow_place_label(person)|trans }}
                            </td>
                        </tr>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>


    <h2>Historical Data</h2>
    {% if is_granted("ROLE_ADMIN") %}
        <div class="card mb-3">
            <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#log_table"
                 aria-expanded="false" role="button">
                Log
            </div>
            <div class="collapse" id="log_table">
                <table class="table">
                    <tr>
                        <th>Time</th>
                        <th>User</th>
                        <th>Log</th>
                    </tr>
                    {% for log in person.logs %}
                        <tr>
                            <td>{{ log.createdAt|date('n/j/Y g:i a') }}</td>
                            <td>{{ log.user }}</td>
                            <td>{{ log.text }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

    {# Historical Info #}
    <div class="card mb-3">
        <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#room_table"
             aria-expanded="false" role="button">
            Rooms
        </div>
        <div class="collapse" id="room_table">
            {% if is_granted("PERSON_EDIT", person) %}
                <div class="card-body">
                    <a href="{{ path('person_add_room', {'slug': person.slug}) }}" class="btn btn-primary">
                        <span class="fa fa-plus"></span> Add Room
                    </a>
                </div>
            {% endif %}
            <table class="table"> {# todo maybe these tables should be grids so they line up with each other #}
                <tr>
                    <th>Room</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th class="shrink"></th>
                </tr>
                {% for roomAffiliation in person.roomAffiliations %}
                    <tr>
                        <td>{{ roomAffiliation.room }}</td>
                        <td>{% if roomAffiliation.startedAt is not null %}{{ roomAffiliation.startedAt|date('n/j/Y') }}{% endif %}</td>
                        <td>{% if roomAffiliation.endedAt is not null %}{{ roomAffiliation.endedAt|date('n/j/Y') }}{% endif %}</td>
                        <td class="shrink">{% if roomAffiliation.endedAt is null %}<a
                                href="{{ path('person_end_room_affiliation', {'id': roomAffiliation.id, 'slug': person.slug}) }}">
                                    End</a>{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#theme_table"
             aria-expanded="false" role="button">
            Themes
        </div>
        <div class="collapse" id="theme_table">
            {% if is_granted("PERSON_EDIT", person) %}
                <div class="card-body">
                    <a href="{{ path('person_add_theme_affiliation', {'slug': person.slug}) }}"
                       class="btn btn-primary"><span
                                class="fa fa-plus"></span> Add</a>
                </div>
            {% endif %}
            <table class="table">
                <tr>
                    <th>Theme</th>
                    <th>Member Type</th>
                    <th>Title</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    {% if is_granted('PERSON_VIEW_EXIT_REASON') %}
                        <th>Exit Reason</th>
                    {% endif %}
                    <th class="shrink"></th>
                </tr>
                {% for themeAffiliation in person.themeAffiliations %}
                    <tr>
                        <td>{{ themeAffiliation.theme.shortName }}</td>
                        <td>
                            {{ themeAffiliation.memberCategory.name }}
                            {% for role in themeAffiliation.themeRoles %}
                                ({{ role.displayName }})
                            {% endfor %}
                        </td>
                        <td>{{ themeAffiliation.title }}</td>
                        <td>{% if themeAffiliation.startedAt is not null %}{{ themeAffiliation.startedAt|date('n/j/Y') }}{% endif %}</td>
                        <td>{% if themeAffiliation.endedAt is not null %}{{ themeAffiliation.endedAt|date('n/j/Y') }}{% endif %}</td>
                        {% if is_granted('PERSON_VIEW_EXIT_REASON') %}
                            <td>{{ themeAffiliation.exitReason }}</td>
                        {% endif %}
                        <td class="shrink">
                            {% if themeAffiliation.endedAt is null and is_granted("PERSON_EDIT", person) %}
                                <a href="{{ path('person_end_theme_affiliation', {'id': themeAffiliation.id, 'slug': person.slug}) }}">
                                    End
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#unit_table"
             aria-expanded="false" role="button">
            Units
        </div>
        <div class="collapse" id="unit_table">
            {% if is_granted("PERSON_EDIT", person) %}
                <div class="card-body">
                    <a href="{{ path('person_add_unit', {'slug': person.slug}) }}"
                       class="btn btn-primary"><span
                                class="fa fa-plus"></span> Add</a>
                </div>
            {% endif %}
            <table class="table">
                <tr>
                    <th>Unit</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th class="shrink"></th>
                </tr>
                {% for unitAffiliation in person.unitAffiliations %}
                    <tr>
                        <td>{{ unitAffiliation.unit??unitAffiliation.otherUnit }}</td>
                        <td>{% if unitAffiliation.startedAt is not null %}{{ unitAffiliation.startedAt|date('n/j/Y') }}{% endif %}</td>
                        <td>{% if unitAffiliation.endedAt is not null %}{{ unitAffiliation.endedAt|date('n/j/Y') }}{% endif %}</td>
                        <td class="shrink">
                            {% if unitAffiliation.endedAt is null and is_granted("PERSON_EDIT", person) %}
                                <a href="{{ path('person_end_unit_affiliation', {'id': unitAffiliation.id, 'slug': person.slug}) }}">
                                    End
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% if is_granted('ROLE_KEY_MANAGER') %}
        {% if person.keyAffiliations is not empty %}
            <div class="card mb-3">
                <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#key_table"
                     aria-expanded="false" role="button">
                    Keys
                </div>
                <div class="collapse" id="key_table">
                    <div class="card-body">
                        <a href="{{ path('person_edit_keys', {'id': person.id}) }}" class="btn btn-primary"><span
                                    class="fa fa-pencil"></span> Edit Keys</a>
                    </div>
                    <table class="table">
                        <tr>
                            <th>Key</th>
                            <th>Room</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                        {% for keyAffiliation in person.keyAffiliations %}
                            <tr>
                                <td>{{ keyAffiliation.cylinderKey.name }}</td>
                                <td>
                                    {% if keyAffiliation.cylinderKey.rooms|length > 3 or keyAffiliation.cylinderKey.rooms|length < 1 %}
                                        {{ keyAffiliation.cylinderKey.description }}
                                    {% else %}
                                        {% for room in keyAffiliation.cylinderKey.rooms %}
                                            {{ room.number }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>{% if keyAffiliation.startedAt is not null %}{{ keyAffiliation.startedAt|date('n/j/Y') }}{% endif %}</td>
                                <td>{% if keyAffiliation.endedAt is not null %}{{ keyAffiliation.endedAt|date('n/j/Y') }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% if person.supervisorAffiliations is not empty %}
        <div class="card mb-3">
            <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#supervisor_table"
                 aria-expanded="false" role="button">
                Supervisors
            </div>
            <div class="collapse" id="supervisor_table">
                {% if is_granted("PERSON_EDIT", person) %}
                    <div class="card-body">
                        <a href="{{ path('person_add_supervisor', {'slug': person.slug}) }}" class="btn btn-primary">
                            <span class="fa fa-plus"></span> Add Supervisor
                        </a>
                    </div>
                {% endif %}
                <table class="table"> {# todo maybe these tables should be grids so they line up with each other #}
                    <tr>
                        <th>Supervisor</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th class="shrink"></th>
                    </tr>
                    {% for supervisorAffiliation in person.supervisorAffiliations %}
                        <tr>
                            <td>{{ supervisorAffiliation.supervisor }}</td>
                            <td>{% if supervisorAffiliation.startedAt is not null %}{{ supervisorAffiliation.startedAt|date('n/j/Y') }}{% endif %}</td>
                            <td>{% if supervisorAffiliation.endedAt is not null %}{{ supervisorAffiliation.endedAt|date('n/j/Y') }}{% endif %}</td>
                            <td class="shrink">{% if supervisorAffiliation.endedAt is null %}<a
                                    href="{{ path('person_end_supervisor_affiliation', {'id': supervisorAffiliation.id, 'slug': person.slug}) }}">
                                        End</a>{% endif %}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
    {% if person.superviseeAffiliations is not empty %}
        <div class="card mb-3">
            <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#supervisee_table"
                 aria-expanded="false" role="button">
                Supervisees
            </div>
            <div class="collapse" id="supervisee_table">
                {% if is_granted("PERSON_EDIT", person) %}
                    <div class="card-body">
                        <a href="{{ path('person_add_supervisee', {'slug': person.slug}) }}" class="btn btn-primary">
                            <span class="fa fa-plus"></span> Add Supervisee
                        </a>
                    </div>
                {% endif %}
                <table class="table">
                    <tr>
                        <th>Supervisee</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th class="shrink"></th>
                    </tr>
                    {% for superviseeAffiliation in person.superviseeAffiliations %}
                        <tr>
                            <td>{{ superviseeAffiliation.supervisee }}</td>
                            <td>{% if superviseeAffiliation.startedAt is not null %}{{ superviseeAffiliation.startedAt|date('n/j/Y') }}{% endif %}</td>
                            <td>{% if superviseeAffiliation.endedAt is not null %}{{ superviseeAffiliation.endedAt|date('n/j/Y') }}{% endif %}</td>
                            <td class="shrink">
                                {% if superviseeAffiliation.endedAt is null %}
                                    <a href="{{ path('person_end_supervisor_affiliation', {'id': superviseeAffiliation.id, 'slug': person.slug}) }}">
                                        End
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
    {% if workflow_can(person, constant('App\\Workflow\\Membership::TRANS_FORCE_EXIT_FORM')) %}
        <a class="btn btn-danger" href="{{ path('membership_exitForm', {'slug': person.slug}) }}">
            <span class="fa fa-user-minus"></span> Exit form
        </a>
    {% endif %}
{% endblock %}

{% block title %}
    {{ parent() }} | {{ person.name }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('person_currentmembers') }}">IGB Members</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ person.name }}</li>
{% endblock %}