{% extends 'base.html.twig' %}

{% block content %}
    <div class="float-end">
        <a class="btn btn-primary" href="{{ path('person_edit', {'id': person.id}) }}"><span
                    class="fa fa-pencil"></span>
            Edit
        </a>
    </div>
    <h1>
        {% if person.imageName is not null %}
            <img class="portrait-lg me-2" src="{{ asset(vich_uploader_asset(person, 'imageFile')) }}">
        {% endif %}
        {{ person.name }}
    </h1>
    <div class="row">
        <div class="col-lg"> {# todo play with the columns a bit for different sizes #}
            <div class="card mb-3">
                <div class="card-header">
                    Personal Info
                </div>
                <table class="table">
                    <tr>
                        <th>First Name</th>
                        <td>{{ person.firstName }}</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>{{ person.lastName }}</td>
                    </tr>
                    <tr>
                        <th>Middle Initial</th>
                        <td>{{ person.middleInitial }}</td>
                    </tr>
                    <tr>
                        <th>Preferred First Name</th>
                        <td>{{ person.preferredFirstName }}</td>
                    </tr>
                    <tr>
                        <th>IGB Username</th>
                        <td>{{ person.username }}</td>
                    </tr>
                    <tr>
                        <th>NetID</th>
                        <td>{{ person.netid }}</td>
                    </tr>
                    <tr>
                        <th>UIN</th>
                        <td>{{ person.uin }}</td>
                    </tr>
                    {% for themeAffiliation in person.themeAffiliations|current %}
                        <tr>
                            <th>Theme</th>
                            <td>
                                {{ themeAffiliation.theme.shortName }}<br/>
                                {% if themeAffiliation.title %}
                                    {{ themeAffiliation.title }} ({{ themeAffiliation.memberCategory.name }})
                                {% else %}
                                    {{ themeAffiliation.memberCategory.name }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {# todo only visible for key manager, super admins #}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_KEY_MANAGER') %}
                        <tr>
                            <th>Keys</th>
                            <td>
                                {% for keyAffiliation in person.keyAffiliations|current %}
                                    {{ keyAffiliation.cylinderKey.name }}{% if not loop.last %}, {% endif %}
                                {% else %}
                                    None
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if person.supervisorAffiliations|current is not empty %}
                        <tr>
                            <th>Supervisor</th>
                            <td>
                                {% for supervisorAffiliation in person.supervisorAffiliations|current %}
                                    <a
                                    href="{{ path('person_view', {'id': supervisorAffiliation.supervisor.id}) }}">{{ supervisorAffiliation.supervisor }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if person.superviseeAffiliations|current is not empty %}
                        <tr>
                            <th>Supervisee(s)</th>
                            <td>
                                {% for superviseeAffiliation in person.superviseeAffiliations|current %}
                                    <a
                                    href="{{ path('person_view', {'id': superviseeAffiliation.supervisee.id}) }}">{{ superviseeAffiliation.supervisee }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="col-lg">
            <div class="card mb-3">
                <div class="card-header">
                    Contact Info
                </div>
                <table class="table">
                    <tr>
                        <th>Email</th>
                        <td>{{ person.email }}</td>
                    </tr>
                    <tr>
                        <th>Room</th>
                        <td>
                            {% for roomAffiliation in person.roomAffiliations|current %}
                                {{ roomAffiliation.room.number }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Office Phone</th>
                        <td>{{ person.officePhone }}</td>
                    </tr>
                    {# todo private information should be hidden based on some voter #}
                    <tr>
                        <th>Home Address</th>
                        <td>{{ person.homeAddress|nl2br }}</td>
                    </tr>
                    <tr>
                        <th>Campus Address</th>
                        <td>{{ person.officeBuilding }}</td> {# todo this should be a combination of building/officenumber #}
                    </tr>
                    {# todo display preferred address #}
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <div class="card mb-3">
                <div class="card-header">Documents</div>
                {# todo add some documents #}
                <div class="card-body">
                    <a href="{{ path('person_upload_document', {'id': person.id}) }}" class="btn btn-primary">
                        <span class="fa fa-upload"></span> Upload
                    </a>
                </div>
                <table class="table">
                    {% for document in person.documents %}
                        <tr>
                            <td><a href="{{ asset(vich_uploader_asset(document, 'file')) }}">{{ document }}</a></td>
                            <td class="shrink text-end text-muted">
                                Uploaded by {{ document.uploadedBy }}<br/>
                                {{ document.createdAt|date('n/j/Y') }}
                                {% if document.type != constant('App\\Enum\\DocumentCategory::Other') %}
                                    <br/>{{ document.type.choiceLabel }}
                                {% endif %}
                            </td>
                            <td class="shrink">
                                <a class="text-decoration-none"
                                   href="{{ path('person_edit_document', {'id': document.id}) }}">
                                    <span class="fa fa-pencil"></span>
                                </a>
                                <a class="text-decoration-none"
                                   href="{{ path('person_delete_document', {'id': document.id}) }}">
                                    <span class="fa fa-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-lg">
            <div class="card mb-3">
                <div class="card-header">Notes</div>
                <div class="card-body">
                    <a href="{{ path('person_add_note', {'id': person.id}) }}" class="btn btn-primary">
                        <span class="fa fa-plus"></span> Add Note
                    </a>
                </div>
                {# todo notes need to be shown/hidden based on their type and some voter #}
                <table class="table border-top border-1">
                    {% for note in person.notes %}
                        <tr>
                            <td>
                                {{ note.text|nl2br }}
                            </td>
                            <td class="shrink text-end text-muted">
                                {{ note.createdBy }}<br/>
                                {{ note.createdAt|date('n/j/Y') }}
                                {% if note.type != constant('App\\Enum\\NoteCategory::General') %}
                                    <br/>{{ note.type }}
                                {% endif %}
                            </td>
                            <td class="shrink">
                                <a class="text-decoration-none" href="{{ path('person_edit_note', {'id': note.id}) }}">
                                    <span class="fa fa-pencil"></span>
                                </a>
                                <a class="text-decoration-none"
                                   href="{{ path('person_delete_note', {'id': note.id}) }}">
                                    <span class="fa fa-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


    <h2>Historical Data</h2>
    <div class="card mb-3">
        <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#log_table"
             aria-expanded="false" role="button">
            Log
        </div>
        <div class="collapse" id="log_table">
            <table class="table">
                <tr>
                    <th>Time</th>
                    <th>User</th>
                    <th>Log</th>
                </tr>
                {% for log in person.logs %}
                    <tr>
                        <td>{{ log.createdAt|date('n/j/Y g:i a') }}</td>
                        <td>{{ log.user }}</td>
                        <td>{{ log.text }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {# todo does everyone see the log? #}
    </div>

    {# Historical Info #}
    <div class="card mb-3">
        <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#theme_table"
             aria-expanded="false" role="button">
            Themes
        </div>
        <div class="collapse" id="theme_table">
            <div class="card-body">
                <a href="{{ path('person_new_theme_affiliation', {'id': person.id}) }}" class="btn btn-primary"><span
                            class="fa fa-plus"></span> Add</a>
            </div>
            <table class="table">
                <tr>
                    <th>Theme</th>
                    <th>Member Type</th>
                    <th>Title</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th class="shrink"></th>
                </tr>
                {% for themeAffiliation in person.themeAffiliations %}
                    <tr>
                        <td>{{ themeAffiliation.theme.shortName }}</td>
                        <td>{{ themeAffiliation.memberCategory.name }}</td>
                        <td>{{ themeAffiliation.title }}</td>
                        <td>{{ themeAffiliation.startedAt|date('n/j/Y') }}</td>
                        <td>{% if themeAffiliation.endedAt is not null %}{{ themeAffiliation.endedAt|date('n/j/Y') }}{% endif %}</td>
                        <td class="shrink">
                            {% if themeAffiliation.endedAt is null %}
                                <a href="{{ path('person_end_theme_affiliation', {'id': themeAffiliation.id}) }}">End
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% if person.keyAffiliations is not empty %} {# todo restrict to key manager #}
        <div class="card mb-3">
            <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#key_table"
                 aria-expanded="false" role="button">
                Keys
            </div>
            <div class="collapse" id="key_table">
                <table class="table">
                    <tr>
                        <th>Key</th>
                        <th>Room</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                    {% for keyAffiliation in person.keyAffiliations %}
                        <tr>
                            <td>{{ keyAffiliation.cylinderKey.name }}</td>
                            <td>{# todo show something else if there are many rooms (>3) #}
                                {% if keyAffiliation.cylinderKey.roomKeyAffiliations|length > 3 or keyAffiliation.cylinderKey.roomKeyAffiliations|length < 1 %}
                                    {{ keyAffiliation.cylinderKey.description }}
                                {% else %}
                                    {% for roomAffiliation in keyAffiliation.cylinderKey.roomKeyAffiliations %}
                                        {{ roomAffiliation.room.number }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>{{ keyAffiliation.startedAt|date('n/j/Y') }}</td>
                            <td>{% if keyAffiliation.endedAt is not null %}{{ keyAffiliation.endedAt|date('n/j/Y') }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
    {% if person.supervisorAffiliations is not empty %}
        <div class="card mb-3">
            <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#supervisor_table"
                 aria-expanded="false" role="button">
                Supervisors
            </div>
            <div class="collapse" id="supervisor_table">
                <table class="table"> {# todo maybe these tables should be grids so they line up with each other #}
                    <tr>
                        <th>Supervisor</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                    {% for supervisorAffiliation in person.supervisorAffiliations %}
                        <tr>
                            <td>{{ supervisorAffiliation.supervisor }}</td>
                            <td>{{ supervisorAffiliation.startedAt|date('n/j/Y') }}</td>
                            <td>{% if supervisorAffiliation.endedAt is not null %}{{ supervisorAffiliation.endedAt|date('n/j/Y') }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
    {% if person.superviseeAffiliations is not empty %}
        <div class="card mb-3">
            <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#supervisee_table"
                 aria-expanded="false" role="button">
                Supervisees
            </div> {# todo this is not a great label #}
            <div class="collapse" id="supervisee_table">
                <table class="table">
                    <tr>
                        <th>Supervisee</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                    {% for superviseeAffiliation in person.superviseeAffiliations %}
                        <tr>
                            <td>{{ superviseeAffiliation.supervisee }}</td>
                            <td>{{ superviseeAffiliation.startedAt|date('n/j/Y') }}</td>
                            <td>{% if superviseeAffiliation.endedAt is not null %}{{ superviseeAffiliation.endedAt|date('n/j/Y') }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
    {# todo rooms #}

{% endblock %}

{% block title %}
    {{ parent() }} | {{ person.name }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('person') }}">IGB Members</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ person.name }}</li>
{% endblock %}