{% extends 'base.html.twig' %}
{% import "person/_theme.html.twig" as theme %}

{% block content %}
    <div class="float-end">
        {% if is_granted('PERSON_EDIT', person) %}
            <a class="btn btn-primary" href="{{ path('person_edit', {'slug': person.slug}) }}">
                <span class="fa fa-pencil"></span> Edit
            </a>
        {% endif %}
    </div>
    <h1>
        {% if person.imageName is not null %}
            <img class="portrait-lg me-2"
                 src="{{ vich_uploader_asset(person, 'imageFile') | imagine_filter('large_thumb') }}" alt="Portrait"/>
        {% endif %}
        {{ person.name }}
    </h1>
    {% if not person.isCurrent %}
        <div class="callout callout-info">
            This person is no longer associated with the IGB.
        </div>
    {% elseif not person.isMember %}
        <div class="callout callout-info">
            This person is not an IGB member.
        </div>
    {% endif %}
    <div class="row mb-2">
        <div class="col-lg"> {# todo play with the columns a bit for different sizes #}
            <div class="card mb-3">
                <div class="card-header">
                    <span class="fas fa-user float-end text-muted mt-1"></span>
                    Personal Info
                </div>
                <table class="table">
                    <tr>
                        <th>{{ 'person.firstName'|trans }}</th>
                        <td>{{ person.firstName }}</td>
                        {% if is_granted('PERSON_EDIT', person) %}
                            <td></td>{% endif %}
                    </tr>
                    <tr>
                        <th>{{ 'person.lastName'|trans }}</th>
                        <td>{{ person.lastName }}</td>
                        {% if is_granted('PERSON_EDIT', person) %}
                            <td></td>{% endif %}
                    </tr>
                    {% if person.middleInitial %}
                        <tr>
                            <th>Middle Initial</th>
                            <td>{{ person.middleInitial }}</td>
                            {% if is_granted('PERSON_EDIT', person) %}
                                <td></td>{% endif %}
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Preferred First Name</th>
                        <td>{{ person.preferredFirstName }}</td>
                        {% if is_granted('PERSON_EDIT', person) %}
                            <td></td>{% endif %}
                    </tr>
                    <tr>
                        <th>IGB Username</th>
                        <td>{{ person.username }}</td>
                        {% if is_granted('PERSON_EDIT', person) %}
                            <td></td>{% endif %}
                    </tr>
                    <tr>
                        <th>{{ 'person.netid'|trans }}</th>
                        <td>{{ person.netid }}</td>
                        {% if is_granted('PERSON_EDIT', person) %}
                            <td></td>{% endif %}
                    </tr>
                    <tr>
                        <th>{{ 'person.uin'|trans }}</th>
                        <td>{{ person.uin }}</td>
                        {% if is_granted('PERSON_EDIT', person) %}
                            <td></td>{% endif %}
                    </tr>
                    <tr>
                        <th>Unit</th>
                        <td>{{ person.unit??person.otherUnit??'None' }}</td>
                        {% if is_granted('PERSON_EDIT', person) %}
                            <td class="shrink"></td>
                        {% endif %}
                    </tr>
                    {% if person.isMember %}
                        <tr>
                            <th>Start date</th>
                            <td>{{ person.themeAffiliations|member|earliest|date('n/j/Y') }}</td>
                        </tr>
                    {% endif %}
                    {% if not person.isCurrent %}
                        <tr>
                            <th>End date</th>
                            <td>{{ person.themeAffiliations|latest|date('n/j/Y') }}</td>
                        </tr>
                    {% endif %}
                </table>
            </div>

            {% for themeAffiliation in person.themeAffiliations|current %}
                <div class="card mb-3">
                    <div class="card-header">
                        <span class="fas fa-users-between-lines float-end text-muted mt-1"></span>
                        {{ themeAffiliation.theme }}
                    </div>
                    <table class="table">
                        <th>Theme</th>
                        <td>{{ theme.info(themeAffiliation) }}</td>
                        {% if is_granted('PERSON_EDIT', person) %}
                            <td class="shrink pe-3 text-end">
                                <a class="text-danger"
                                   href="{{ path('person_end_theme_affiliation', {'id': themeAffiliation.id, 'slug': person.slug}) }}">
                                    <span class="fas fa-minus-square"></span>
                                </a>
                            </td>
                        {% endif %}
                        {% for sponsorAffiliation in themeAffiliation.sponsorAffiliations|current %}
                            <tr>
                                <th>Faculty Sponsor</th>
                                <td>
                                    <a href="{{ path('person_view', {'slug': sponsorAffiliation.sponsor.slug}) }}">{{ sponsorAffiliation.sponsor }}</a>
                                </td>
                                {% if is_granted('PERSON_EDIT', person) %}
                                    <td class="shrink pe-3 text-end">
                                        {% if loop.first %}
                                            <a class="text-success"
                                               href="{{ path('person_add_sponsor', {'id': themeAffiliation.id, 'slug': person.slug}) }}">
                                                <span class="fas fa-plus-square"></span></a>
                                        {% endif %}
                                        <a class="text-danger"
                                           href="{{ path('person_end_sponsor_affiliation', {'id': sponsorAffiliation.id, 'slug': person.slug}) }}"><span
                                                    class="fas fa-minus-square"></span></a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% else %}
                            <tr>
                                <th>Faculty Sponsor</th>
                                <td>None</td>
                                {% if is_granted('PERSON_EDIT', person) %}
                                    <td class="shrink pe-3">
                                        <a class="text-success"
                                           href="{{ path('person_add_sponsor', {'id': themeAffiliation.id, 'slug': person.slug}) }}">
                                            <span class="fas fa-plus-square"></span></a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {% for supervisorAffiliation in themeAffiliation.supervisorAffiliations|current %}
                            <tr>
                                <th>Supervisor</th>
                                <td>
                                    <a href="{{ path('person_view', {'slug': supervisorAffiliation.supervisor.slug}) }}">{{ supervisorAffiliation.supervisor }}</a>
                                </td>
                                {% if is_granted('PERSON_EDIT', person) %}
                                    <td class="shrink pe-3 text-end">
                                        {% if loop.first %}
                                            <a class="text-success"
                                               href="{{ path('person_add_supervisor', {'id': themeAffiliation.id, 'slug': person.slug}) }}">
                                                <span class="fas fa-plus-square"></span></a>
                                        {% endif %}
                                        <a class="text-danger"
                                           href="{{ path('person_end_supervisor_affiliation', {'id': supervisorAffiliation.id, 'slug': person.slug}) }}"><span
                                                    class="fas fa-minus-square"></span></a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% else %}
                            <tr>
                                <th>Supervisor</th>
                                <td>None</td>
                                {% if is_granted('PERSON_EDIT', person) %}
                                    <td class="shrink pe-3">
                                        <a class="text-success"
                                           href="{{ path('person_add_supervisor', {'id': themeAffiliation.id, 'slug': person.slug}) }}">
                                            <span class="fas fa-plus-square"></span></a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {% if person.superviseeAffiliations|current|theme(themeAffiliation.theme)|length >0 %}
                            <tr>
                                <th>Supervisee(s)</th>
                                <td>
                                    {% for superviseeAffiliation in person.superviseeAffiliations|current|theme(themeAffiliation.theme) %}
                                        <a class="text-nowrap"
                                           href="{{ path('person_view', {'slug': superviseeAffiliation.supervisee.slug}) }}">{{ superviseeAffiliation.supervisee }}</a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}


                    </table>
                </div>
            {% endfor %}
            {% if is_granted('PERSON_EDIT', person) %}
                <a class="btn btn-sm btn-success mb-3"
                   href="{{ path('person_add_theme_affiliation', {'slug': person.slug}) }}"
                >
                    <span class="fas fa-plus"></span>
                    Add Theme
                </a>
            {% endif %}
        </div>

        <div class="col-lg">
            <div class="card mb-3">
                <div class="card-header">
                    <span class="fas fa-address-card float-end text-muted mt-1"></span>
                    Contact Info
                </div>
                <table class="table">
                    <tr>
                        <th>Email</th>
                        <td>{{ person.email }}</td>
                        {% if is_granted('PERSON_EDIT', person) %}
                            <td></td>{% endif %}
                    </tr>
                    <tr>
                        <th>Room</th>
                        <td>
                            {% for roomAffiliation in person.roomAffiliations|current %}
                                {{ roomAffiliation.room.number }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        {% if is_granted('PERSON_EDIT', person) %}
                            <td class="shrink pe-3">
                                <a class="text-success"
                                   href="{{ path('person_add_room', {'slug': person.slug}) }}">
                                    <span class="fas fa-plus-square"></span>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Office Phone</th>
                        <td>{{ person.officePhone }}</td>
                        {% if is_granted('PERSON_EDIT', person) %}
                            <td></td>{% endif %}
                    </tr>
                    {% if person.officeBuilding or person.otherAddress %}
                        <tr>
                            <th>Other Campus Address</th>
                            <td>
                                {{ (person.otherAddress ?? person.officeBuilding.address)|nl2br }}
                                {{ person.officeNumber }}
                            </td>
                            {% if is_granted('PERSON_EDIT', person) %}
                                <td></td>{% endif %}
                        </tr>
                    {% endif %}
                </table>
            </div>

            {% if is_granted('PERSON_VIEW_DOCUMENTS') %}
                <div class="card mb-3">
                    <div class="card-header"><span class="fas fa-file float-end text-muted mt-1"></span> Documents</div>
                    {% if is_granted('PERSON_EDIT', person) %}
                        <div class="card-body">
                            <a href="{{ path('person_upload_document', {'slug': person.slug}) }}"
                               class="btn btn-sm btn-success">
                                <span class="fa fa-plus"></span> Add document
                            </a>
                        </div>
                    {% endif %}
                    <table class="table">
                        {% for document in person.documents %}
                            <tr>
                                <td><a href="{{ asset(vich_uploader_asset(document, 'file')) }}">{{ document }}</a></td>
                                <td class="shrink text-end text-muted">
                                    Uploaded by {{ document.uploadedBy }}<br/>
                                    {{ document.createdAt|date('n/j/Y') }}
                                    {% if document.type != constant('App\\Enum\\DocumentCategory::Other') %}
                                        <br/>{{ document.type.choiceLabel }}
                                    {% endif %}
                                </td>
                                <td class="shrink">
                                    {% if is_granted("PERSON_EDIT", person) %}
                                        <a class="text-decoration-none"
                                           href="{{ path('person_edit_document', {'id': document.id, 'slug': person.slug}) }}">
                                            <span class="fa fa-pencil"></span>
                                        </a>
                                        <a class="text-decoration-none"
                                           href="{{ path('person_delete_document', {'id': document.id, 'slug': person.slug}) }}">
                                            <span class="fa fa-trash"></span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}

            {% if is_granted('ROLE_KEY_MANAGER') %}
                <div class="card mb-3">
                    <div class="card-header">
                        <span class="fas fa-key float-end text-muted mt-1"></span>
                        Key Info
                    </div>
                    <table class="table">
                        <tr>
                            <th>Keys</th>
                            <td>
                                {% for keyAffiliation in person.keyAffiliations|current %}
                                    {{ keyAffiliation.cylinderKey.displayName }}{% if not loop.last %}, {% endif %}
                                {% else %}
                                    None
                                {% endfor %}
                            </td>
                            <td class="shrink"><a href="{{ path('person_edit_keys', {'slug': person.slug}) }}"><span
                                            class="fa fa-pencil"></span></a></td>
                        </tr>
                        <tr>
                            <th>Key Deposit</th>
                            <td>{{ person.hasGivenKeyDeposit?'Yes':'No' }}</td>
                            <td class="shrink"></td>
                        </tr>
                    </table>
                </div>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_APPROVER') %}
                <div class="card mb-3">
                    <div class="card-header">
                        <span class="fas fa-gears float-end text-muted mt-1"></span>
                        Admin Info
                    </div>
                    <table class="table">
                        {% if is_granted('ROLE_ADMIN') %}
                            <tr>
                                <th>Connect Roles</th>
                                <td>{% for role in person.displayRoles %}
                                        {{ role|role }}
                                        {%- if not loop.last -%}
                                            ,
                                        {% endif %}
                                    {% else %}
                                        None
                                    {% endfor %}</td>
                                <td class="shrink"></td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Membership status</th>
                            <td>
                                {{ workflow_place_label(person)|trans }}
                                - last updated {{ person.membershipUpdatedAt|date('n/j/y') }}
                            </td>
                            <td class="shrink"></td>
                        </tr>
                        <tr>
                            <th>Last reviewed</th>
                            <td>
                                {% if person.lastReviewedBy is not null %}
                                    {{ person.lastReviewedAt|date('n/j/Y g:i a') }} by {{ person.lastReviewedBy }}
                                {% else %}
                                    Never
                                {% endif %}
                            </td>
                            <td class="shrink">
                                <a class="text-success"
                                   href="{{ path('person_update_last_review', {'slug': person.slug}) }}"
                                   title="Update last reviewed date">
                                    <span class="fas fa-square-check"></span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>


    <h2>Historical Data</h2>
    {% if is_granted("ROLE_ADMIN") %}
        <div class="card mb-3">
            <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#log_table"
                 aria-expanded="false" role="button">
                Log
            </div>
            <div class="collapse" id="log_table">
                <table class="table">
                    <tr>
                        <th>Time</th>
                        <th>User</th>
                        <th>Log</th>
                    </tr>
                    {% for log in person.logs %}
                        <tr>
                            <td>{{ log.createdAt|date('n/j/Y g:i a') }}</td>
                            <td>{{ log.user }}</td>
                            <td>{{ log.text }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

    {# Historical Info #}
    <div class="card mb-3">
        <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#room_table"
             aria-expanded="false" role="button">
            Rooms
        </div>
        <div class="collapse" id="room_table">
            {% if is_granted("PERSON_EDIT", person) %}
                <div class="card-body">
                    <a href="{{ path('person_add_room', {'slug': person.slug}) }}"
                       class="btn btn-sm btn-success">
                        <span class="fa fa-plus"></span> Add Room
                    </a>
                </div>
            {% endif %}
            <table class="table"> {# todo maybe these tables should be grids so they line up with each other #}
                <tr>
                    <th>Room</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th class="shrink"></th>
                </tr>
                {% for roomAffiliation in person.roomAffiliations %}
                    <tr>
                        <td>{{ roomAffiliation.room }}</td>
                        <td>{% if roomAffiliation.startedAt is not null %}{{ roomAffiliation.startedAt|date('n/j/Y') }}{% endif %}</td>
                        <td>{% if roomAffiliation.endedAt is not null %}{{ roomAffiliation.endedAt|date('n/j/Y') }}{% endif %}</td>
                        <td class="shrink">{% if roomAffiliation.endedAt is null %}<a
                                href="{{ path('person_end_room_affiliation', {'id': roomAffiliation.id, 'slug': person.slug}) }}">
                                    End</a>{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#theme_table"
             aria-expanded="false" role="button">
            Themes
        </div>
        <div class="collapse" id="theme_table">

            <div class="card-body">
                {% if is_granted("PERSON_EDIT", person) %}
                    <a href="{{ path('person_add_theme_affiliation', {'slug': person.slug}) }}"
                       class="btn btn-sm btn-success mb-3">
                        <span class="fa fa-plus"></span> Add
                    </a>
                {% endif %}

                {% for themeAffiliation in person.themeAffiliations %}
                    <div class="row mb-2">
                        <div class="col">
                            <div class="theme-header">Theme</div>
                            <div class="theme-body">{{ themeAffiliation.theme }}</div>
                        </div>
                        <div class="col">
                            <div class="theme-header">Member Type</div>
                            <div class="theme-body">{{ themeAffiliation.memberCategory.name }}</div>
                        </div>

                        <div class="col">
                            <div class="theme-header">Start Date</div>
                            <div class="theme-body">
                                {% if themeAffiliation.startedAt is not null %}
                                    {{ themeAffiliation.startedAt|date('n/j/Y') }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col">
                            <div class="theme-header">End Date</div>
                            <div class="theme-body">
                                {% if themeAffiliation.endedAt is not null %}
                                    {{ themeAffiliation.endedAt|date('n/j/Y') }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <div class="theme-header">Title</div>
                            <div class="theme-body">{{ themeAffiliation.title }}</div>
                        </div>
                        <div class="col">
                            <div class="theme-header">Theme Roles</div>
                            <div class="theme-body">
                                {% for role in themeAffiliation.themeRoles %}
                                    {{ role.displayName }}
                                {% endfor %}
                            </div>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="col">
                                <div class="theme-header">Position when Joined</div>
                                <div class="theme-body">{{ themeAffiliation.positionWhenJoined }}</div>
                            </div>
                        {% endif %}
                        {% if is_granted('PERSON_VIEW_EXIT_REASON') %}
                            <div class="col">
                                <div class="theme-header">Exit Reason</div>
                                <div class="theme-body">{{ themeAffiliation.exitReason }}</div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <div class="theme-header">Faculty Sponsor(s)</div>
                            <div class="theme-body">
                                {# todo we need to display start and end dates here #}
                                {% for sponsorAffiliation in themeAffiliation.sponsorAffiliations %}
                                    <div class="row">
                                        <div class="col"><a
                                                    href="{{ path('person_view', {'slug':sponsorAffiliation.sponsor.slug}) }}">{{ sponsorAffiliation.sponsor }}</a>
                                        </div>
                                        <div class="col">
                                            {% if sponsorAffiliation.startedAt is not null %}
                                                {{ sponsorAffiliation.startedAt|date('n/j/Y') }}
                                            {% endif %}
                                            -
                                            {% if sponsorAffiliation.endedAt is not null %}
                                                {{ sponsorAffiliation.endedAt|date('n/j/Y') }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col">
                            <div class="theme-header">Supervisor(s)</div>
                            <div class="theme-body">
                                {# todo we need to display start and end dates here #}
                                {% for supervisorAffiliation in themeAffiliation.supervisorAffiliations %}
                                    <div class="row">
                                        <div class="col"><a
                                                    href="{{ path('person_view', {'slug':supervisorAffiliation.supervisor.slug}) }}">{{ supervisorAffiliation.supervisor }}</a>
                                        </div>
                                        <div class="col">
                                            {% if supervisorAffiliation.startedAt is not null %}
                                                {{ supervisorAffiliation.startedAt|date('n/j/Y') }}
                                            {% endif %}
                                            -
                                            {% if supervisorAffiliation.endedAt is not null %}
                                                {{ supervisorAffiliation.endedAt|date('n/j/Y') }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if not loop.last %}
                        <hr/>
                    {% endif %}
                {% endfor %}
            </div>


        </div>
    </div>
    {% if is_granted('ROLE_KEY_MANAGER') %}
        {% if person.keyAffiliations is not empty %}
            <div class="card mb-3">
                <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#key_table"
                     aria-expanded="false" role="button">
                    Keys
                </div>
                <div class="collapse" id="key_table">
                    <div class="card-body">
                        <a href="{{ path('person_edit_keys', {'slug': person.slug}) }}" class="btn btn-primary"><span
                                    class="fa fa-pencil"></span> Edit Keys</a>
                    </div>
                    <table class="table">
                        <tr>
                            <th>Key</th>
                            <th>Room</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                        {% for keyAffiliation in person.keyAffiliations %}
                            <tr>
                                <td>{{ keyAffiliation.cylinderKey.name }}</td>
                                <td>
                                    {% if keyAffiliation.cylinderKey.rooms|length > 3 or keyAffiliation.cylinderKey.rooms|length < 1 %}
                                        {{ keyAffiliation.cylinderKey.description }}
                                    {% else %}
                                        {% for room in keyAffiliation.cylinderKey.rooms %}
                                            {{ room.number }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>{% if keyAffiliation.startedAt is not null %}{{ keyAffiliation.startedAt|date('n/j/Y') }}{% endif %}</td>
                                <td>{% if keyAffiliation.endedAt is not null %}{{ keyAffiliation.endedAt|date('n/j/Y') }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if workflow_can(person, constant('App\\Workflow\\Membership::TRANS_FORCE_EXIT_FORM')) %}
        <a class="btn btn-danger" href="{{ path('membership_exitForm', {'slug': person.slug}) }}">
            <span class="fa fa-user-minus"></span> Exit form
        </a>
    {% endif %}
{% endblock %}

{% block title %}
    {{ parent() }} | {{ person.name }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('person_currentmembers') }}">IGB Members</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ person.name }}</li>
{% endblock %}