<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Connect{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset("build/images/apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset("build/images/favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset("build/images/favicon-16x16.png") }}">
    <link rel="manifest" href="{{ asset("build/images/site.webmanifest") }}">
    <link rel="mask-icon" href="{{ asset("build/images/safari-pinned-tab.svg") }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ asset("build/images/favicon.ico") }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ asset("build/images/browserconfig.xml") }}">
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100 {% block body_class %}{% endblock %}">
<header class="d-print-none">
    <nav class="navbar fixed-top navbar-dark navbar-expand-md bg-primary border-uiuc">
        <div class="container">
            <a class="navbar-brand" href="{{ path("default") }}">Connect</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarMembersMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fa fa-users"></span> IGB Members
                            </a>
                            {# todo is this a bit of a mess? #}
                            <ul class="dropdown-menu" aria-labelledby="navbarMembersMenuLink">
                                <li>
                                    <a class="dropdown-item" href="{{ path('person_currentmembers') }}">Current
                                        Members</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('person_allmembers') }}">All Past/Present
                                        Members</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('person_currentpeople') }}">Current
                                        People</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('person_allpeople') }}">All Past/Present
                                        People</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarFormsMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fa fa-table-list"></span> Forms
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarFormsMenuLink">
                                {% if is_granted("PERSON_ADD") %}
                                    <li>
                                        <a class="dropdown-item" href="{{ path('membership_entryForm') }}">
                                            <span class="fa fa-user-plus"></span> Entry Form
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item"
                                       href="{{ path('membership_exitForm', {'slug': app.user.slug}) }}">
                                        <span class="fa fa-user-minus"></span> Exit Form
                                    </a>
                                </li>
                                {% if is_granted("PERSON_ADD") %}
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item"
                                           href="{{ path('membership_sendEntryForm') }}">
                                            <span class="fa fa-paper-plane"></span> Send Entry Form
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarReportsMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fa fa-file-lines"></span> Reports
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarReportsMenuLink">
                                <li>
                                    <a class="dropdown-item" href="{{ path('report_unit_partners') }}">
                                        Unit Partners
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                    <form class="d-flex quick-search" role="search" data-controller="quick-search">
                        <input class="form-control me-2"
                               type="search"
                               placeholder="Quick Search"
                               aria-label="Search"
                               data-quick-search-target="query"
                               data-action="quick-search#debouncedSearch keydown.up->quick-search#scrollUp:prevent keydown.down->quick-search#scrollDown:prevent keydown.enter->quick-search#chooseResult:prevent focus->quick-search#tryReopen"
                        />
                        <div class="quick-search-results d-none" data-quick-search-target="resultList" data-action="click@window->quick-search#clickOutside"></div>
                    </form>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fa fa-id-badge"></span> {{ app.user.name }}
                                <twig:ApprovalBadge small="true" class="position-absolute" style="top:0.75rem; right: 0.25rem;"/>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a class="dropdown-item" href="{{ path('admin') }}"><span
                                                    class="fa fa-gears"></span> Admin</a></li>
                                {% endif %}
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li><a class="dropdown-item" href="{{ path('app_setting') }}">
                                            <span class="fa fa-gear"></span> My Settings
                                        </a></li>
                                {% endif %}
                                {% if is_granted('ROLE_APPROVER') %}
                                    <li><a class="dropdown-item" href="{{ path('membership_approvals') }}"><span
                                                    class="fa fa-thumbs-up"></span> Approvals <twig:ApprovalBadge style="vertical-align: text-bottom;"/></a></li>
                                {% endif %}
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ path('logout') }}"><span
                                                class="fa fa-right-from-bracket"></span> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            </div>

        </div>
    </nav>
    {# breadcrumb #}
    <div class="breadcrumb-bar d-print-none">
        {% if block('breadcrumb')|trim is not empty %}
            <div class="container pt-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% block breadcrumb %}
                        {% endblock %}
                    </ol>
                </nav>
            </div>
        {% endif %}
    </div>
</header>
{% block body %}
    <main class="flex-shrink-0 mb-4">
        {# Main content box #}
        <div class="container">
            {% include 'workflow/membership/_membership_status.html.twig' %}

            {% block content %}
            {% endblock %}
        </div>
    </main>
{% endblock %}
{# Copyright footer #}
<footer class="copyright d-print-none mt-auto">
    <div class="container d-flex">
        {# todo hide link until the about page is written #}
        {#        <a href="#" class="me-2">About</a> #}
        <a href="{{ path('copyright') }}" class="me-2">Copyright</a>
        <a href="{{ path('faqs') }}" class="me-auto">FAQs</a>
        <span>IGB Connect v0.2&beta;</span>
    </div>
</footer>
</body>
</html>
