<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CONNECT{% endblock %}</title>
    {# todo how do we do icons with webpack? #}
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar fixed-top navbar-dark navbar-expand-md bg-primary border-igb">
        <div class="container">
            <a class="navbar-brand" href="{{ path("default") }}">CONNECT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a href="{{ path('person') }}" class="nav-link"><span class="fa fa-user"></span> Members</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController') }}"
                               class="nav-link"><span class="fa fa-gears"></span> Admin</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('logout') }}" class="nav-link">
                                <span class="fa fa-right-from-bracket"></span> Logout
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </div>

        </div>
    </nav>
    {# jumbotron #}
    <div class="breadcrumb-bar d-print-none">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% block jumbotron %}
                    {% endblock %}
                </ol>
            </nav>
        </div>
    </div>
</header>
{% block body %}
    <main class="flex-shrink-0">
        {# Main content box #}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    {# Copyright footer #}
    <footer class="copyright d-print-none mt-auto">
        <div class="container d-flex">
            <a href="#" class="me-2">About</a>
            <a href="{{ path('copyright') }}" class="me-auto">Copyright</a>
            <span>IGB CONNECT v0.1&alpha;</span>
            {#            <div class="row"> #}
            {#                <div class="col text-center"> #}
            {#                    IGB CONNECT v0.1&alpha;<br/> &copy; 2022 University of Illinois Board of Trustees #}
            {#                </div> #}
            {#            </div> #}
        </div>
    </footer>
{% endblock %}
</body>
</html>
