<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CONNECT{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset("build/images/apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset("build/images/favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset("build/images/favicon-16x16.png") }}">
    <link rel="manifest" href="{{ asset("build/images/site.webmanifest") }}">
    <link rel="mask-icon" href="{{ asset("build/images/safari-pinned-tab.svg") }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ asset("build/images/favicon.ico") }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ asset("build/images/browserconfig.xml") }}">
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar fixed-top navbar-dark navbar-expand-md bg-primary border-uiuc">
        <div class="container">
            <a class="navbar-brand" href="{{ path("default") }}">CONNECT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarMemberMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="fa fa-user"></span> IGB Members</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarMemberMenuLink">
                                <li><a class="dropdown-item" href="{{ path('person') }}"><span class="fa fa-list"></span> List/Search Members</a></li>
                                {% if is_granted('PERSON_ADD') %}
                                <li><a class="dropdown-item" href="{{ path('person_add') }}"><span class="fa fa-plus"></span> Add Member</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fa fa-id-badge"></span> {{ app.user.name }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path('admin') }}"><span class="fa fa-gears"></span> Admin</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{{ path('logout') }}"><span class="fa fa-right-from-bracket"></span> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            </div>

        </div>
    </nav>
    {# breadcrumb #}
    <div class="breadcrumb-bar d-print-none">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% block breadcrumb %}
                    {% endblock %}
                </ol>
            </nav>
        </div>
    </div>
</header>
{% block body %}
    <main class="flex-shrink-0 mb-4">
        {# Main content box #}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    {# Copyright footer #}
    <footer class="copyright d-print-none mt-auto">
        <div class="container d-flex">
            <a href="#" class="me-2">About</a>
            <a href="{{ path('copyright') }}" class="me-auto">Copyright</a>
            <span>IGB CONNECT v0.1&beta;</span>
        </div>
    </footer>
{% endblock %}
</body>
</html>
