{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Themes{% endblock %}

{% block content %}
    <h1>Themes</h1>
    <div class="row">
        {% for column in themes|batch(themes|length/3|round(0,'ceil')) %}
            <div class="col-lg">
                {% for theme in column %}
                    <p><a href="{{ path('theme_view', {'shortName': theme.shortName}) }}">{{ theme.shortName }}</a></p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <h1>Non-research Themes</h1>
    <div class="row">
        {% for column in nonResearchThemes|batch(nonResearchThemes|length/3|round(0,'ceil')) %}
            <div class="col-lg">
                {% for theme in column %}
                    <p><a href="{{ path('theme_view', {'shortName': theme.shortName}) }}">{{ theme.shortName }}</a></p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <h1>Outside Groups</h1>
    <div class="row">
        {% for column in outsideGroups|batch(outsideGroups|length/3|round(0,'ceil')) %}
            <div class="col-lg">
                {% for theme in column %}
                    <p><a href="{{ path('theme_view', {'shortName': theme.shortName}) }}">{{ theme.shortName }}</a></p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Themes</li>
{% endblock %}