{% extends 'base.html.twig' %}
{% use 'person/_datatable.html.twig' %}

{% block content %}
    <h1>{{ theme.shortName }}</h1>
    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-3">
                <div class="card-header">Theme Info</div>
                <table class="table">
                    <tr>
                        <th>Full Name</th>
                        <td>{{ theme.fullName }}</td>
                    </tr>
                    {% if theme.themeLeaders|length > 0 %}
                        <tr>
                            <th rowspan="{{ theme.themeLeaders|length }}">Theme Leader{{ theme.themeLeaders|length>1?'s':'' }}</th>
                            <td>
                                <a href="{{ path('person_view', {'slug': theme.themeLeaders[0].slug}) }}">{{ theme.themeLeaders[0] }}
                            </td>
                        </tr>
                        {% for leader in theme.themeLeaders %}
                            {% if loop.index > 1 %}
                                <tr>
                                    <td><a href="{{ path('person_view', {'slug': leader.slug}) }}">{{ leader }}</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if theme.themeAdmins|length > 0 %}
                        <tr>
                            <th rowspan="{{ theme.themeAdmins|length }}">Theme Admin{{ theme.themeAdmins|length>1?'s':'' }}</th>
                            <td>
                                <a href="{{ path('person_view', {'slug': theme.themeAdmins[0].slug}) }}">{{ theme.themeAdmins[0] }}</a>
                            </td>
                        </tr>
                        {% for admin in theme.themeAdmins %}
                            {% if loop.index > 1 %}
                                <tr>
                                    <td><a href="{{ path('person_view', {'slug': admin.slug}) }}">{{ admin }}</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if theme.labManagers|length > 0 %}
                        <tr>
                            <th rowspan="{{ theme.labManagers|length }}">Lab Manager{{ theme.labManagers|length>1?'s':'' }}</th>
                            <td>
                                <a href="{{ path('person_view', {'slug': theme.labManagers[0].slug}) }}">{{ theme.labManagers[0] }}</a>
                            </td>
                        </tr>
                        {% for manager in theme.labManagers %}
                            {% if loop.index > 1 %}
                                <tr>
                                    <td><a href="{{ path('person_view', {'slug': manager.slug}) }}">{{ manager }}</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <th>Start Date</th>
                        <td>{{ theme.startedAt|date('n/j/Y') }}</td>
                    </tr>
                    {% if theme.endedAt %}
                        <tr>
                            <th>End Date</th>
                            <td>{{ theme.endedAt|date('n/j/Y') }}</td>
                        </tr>
                    {% endif %}
                    {% if theme.isNonResearch %}
                        <tr>
                            <th>Non-Research Theme</th>
                            <td>Yes</td>
                        </tr>
                    {% endif %}
                    {% if theme.isOutsideGroup %}
                        <tr>
                            <th>Outside Group</th>
                            <td>Yes</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="callout callout-info">If any of this information is incorrect, please contact a Connect admin.
            </div>
        </div>
    </div>

    {# user list #}
    <div data-controller="datatables" class="mb-3">
        <table id="people" class="table" data-datatables-target="table">
            <thead>
            {{ block('person_datatable_thead') }}
            </thead>
            <tbody>
            {% for person in people %}
                {{ block('person_datatable_tr') }}
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if is_granted("ROLE_ADMIN") %}
        <div class="card mb-3">
            <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#log_table"
                 aria-expanded="false" role="button">
                Log
            </div>
            <div class="collapse" id="log_table">
                <table class="table">
                    <tr>
                        <th>Time</th>
                        <th>User</th>
                        <th>Log</th>
                    </tr>
                    {% for log in theme.logs %}
                        <tr>
                            <td>{{ log.createdAt|date('n/j/Y g:i a') }}</td>
                            <td>{{ log.user }}</td>
                            <td>{{ log.text }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block title %}
    {{ parent() }} | {{ theme.shortName }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('theme') }}">Themes</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ theme.shortName }}</li>
{% endblock %}