{% extends 'base.html.twig' %}
{% use 'person/_datatable.html.twig' %}

{% block content %}
    <h1>{{ theme.shortName }}</h1>
    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-3">
                <div class="card-header">Theme Info</div>
                <table class="table">
                    <tr>
                        <th>Full Name</th>
                        <td>{{ theme.fullName }}</td>
                    </tr>
                    {% for role in themeRoles %}
                        {% if role.people|length > 0 %}
                            <tr>
                                <th rowspan="{{ role.people|length }}">{{ role.name }}</th>
                                <td>
                                    <a href="{{ path('person_view', {'slug': role.people[0].slug}) }}">{{ role.people[0] }}</a>
                                </td>
                            </tr>
                            {% for person in role.people %}
                                {% if loop.index > 1 %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('person_view', {'slug': person.slug}) }}">{{ person }}</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <th>Start Date</th>
                        <td>{{ theme.startedAt|date('n/j/Y') }}</td>
                    </tr>
                    {% if theme.endedAt %}
                        <tr>
                            <th>End Date</th>
                            <td>{{ theme.endedAt|date('n/j/Y') }}</td>
                        </tr>
                    {% endif %}
                    {% if theme.isNonResearch %}
                        <tr>
                            <th>Non-Research Theme</th>
                            <td>Yes</td>
                        </tr>
                    {% endif %}
                    {% if theme.isOutsideGroup %}
                        <tr>
                            <th>Outside Group</th>
                            <td>Yes</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="callout callout-info">If any of this information is incorrect, please contact a Connect admin.
            </div>
        </div>
    </div>

    {# user list #}
    <div data-controller="datatables" class="mb-3" data-datatables-combo-column-value="2"
         data-datatables-combo-pattern-value='["filter_theme","filter_employeeType","filter_role"]'>
        <table id="people" class="table" data-datatables-target="table">
            <thead>
            {{ block('person_datatable_thead') }}
            </thead>
            <tbody>
            {% for person in people %}
                {{ block('person_datatable_tr') }}
            {% endfor %}
            </tbody>
        </table>

        <div class="card mt-3">
            <div class="card-header collapse-header">
                Filter
            </div>
            <div class="card-body">
                {{ form_start(filterForm) }}
                <div class="row">
                    <div class="col-lg-6 col-xl">{{ form_row(filterForm.employeeType) }}</div>
                    <div class="col-lg-6 col-xl">{{ form_row(filterForm.unit) }}</div>
                </div>
                {{ form_end(filterForm) }}

                <div class="callout callout-info">
                    {# todo this copy needs a second look #}
                    Selecting an option from each dropdown will search for members who match <strong>all</strong>
                    options. Selecting multiple options from a single dropdown will search for members who match
                    <strong>any</strong> of those options. For example, if you select MME, MMG, and Faculty, both MME
                    Faculty and MMG Faculty will be displayed.
                </div>
            </div>
        </div>
    </div>

    {% if is_granted("ROLE_ADMIN") %}
        <div class="card mb-3">
            <div class="card-header collapse-header" data-bs-toggle="collapse" data-bs-target="#log_table"
                 aria-expanded="false" role="button">
                Log
            </div>
            <div class="collapse" id="log_table">
                <table class="table">
                    <tr>
                        <th>Time</th>
                        <th>User</th>
                        <th>Log</th>
                    </tr>
                    {% for log in theme.logs %}
                        <tr>
                            <td>{{ log.createdAt|date('n/j/Y g:i a') }}</td>
                            <td>{{ log.user }}</td>
                            <td>{{ log.text }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block title %}
    {{ parent() }} | {{ theme.shortName }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('theme') }}">Themes</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ theme.shortName }}</li>
{% endblock %}