{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Unit Partners{% endblock %}

{% block content %}
    <h2>Unit Partners</h2>
    {% for college in colleges|sort %}
        {% if college.faculty > 0 or college.affiliates > 0 %}
            <h3>{{ college.name }}
                <small>{{ college.faculty }} faculty, {{ college.affiliates }} affiliates</small>
            </h3>
            {% for unit in college.units|sort %}
                {% if unit.faculty > 0 or unit.affiliates > 0 %}
                    <div class="mb-2">
                        <p class="collapse-control" data-bs-toggle="collapse" data-bs-target="#collapse-{{ unit.id }}"
                           aria-expanded="false">{{ unit.unit }}
                            <small>{{ unit.faculty }} faculty, {{ unit.affiliates }} affiliates</small>
                        </p>
                        <div class="collapse" id="collapse-{{ unit.id }}">
                            <div class="row row-cols-3 row-cols-sm-4">
                                {% for person in unit.people|sort((a,b)=>a.lastName==b.lastName?a.firstName<=>b.firstName:a.lastName<=>b.lastName) %}
                                    <div class="col">
                                        <a href="{{ path('person_view', {'slug': person.slug}) }}">{{ person }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    <h3>Total
        <small>{{ colleges|reduce((carry, v)=>carry+v.faculty) }} faculty,
            {{ colleges|reduce((carry, v)=>carry+v.affiliates) }} affiliates</small></h3>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="#">Reports</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Unit Partners
    </li>
{% endblock %}